/**
    Default idno CSS
*/

/**
    Activity streams
*/

    .entry {
        margin-top: 1em;
    }

    .entry h2 {
        font-size: 1em;
        margin: 0px;
        padding: 0px;
    }

    .entry .owner {
        margin-top: 1em;
        font-size: 0.9em;
    }

/**
    Content creation
*/

    .buttonBar {
        padding: 1em;
        background-color: #ddd;
        border-radius: 5px;
        z-index: 9999;
    }

    a.contentTypeButton {
        float: left;
        width: 80px;

        border: #ccc solid 1px;
        background-color: #f9f9f9;
        border-radius: 5px;
        text-align: center;
        font-size: 0.8em;
        text-decoration: none;
        margin-right: 0.5em;
        margin-bottom: 0.5em;
        transition: width 0.25s, padding-top 0.25s, padding-bottom 0.25s;
        color: #666;
    }

    a.contentTypeButton:hover {
        text-decoration: none;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 90px;
        color: #333;
        background-color: #fff;
    }

    span.contentTypeLogo {
        display: block;
        font-size: 40px;
        padding-top: 15px;
        padding-bottom: 5px;
    }

    #contentCreate {
        display: none;
        z-index: -10000;
        padding: 20px;
        margin-top: -5px;
        background-color: #eee;
    }

    .bodyInput {
        height: 15em;
    }