/**
    Default Known CSS
*/

body {
    background-color: #eee;
    color: #333;
    font-weight: 300 !important;
}

h1,h2 {
    font-weight: 200;
}

h2 {
    line-height: 1.6em;
    margin-bottom: 1.6em !important;
}

.beforecontent {
    margin-bottom: 5em;
}

.idno-content  {
    background-color: #fff;
    padding: 1.5em;
    padding-bottom: 0;
    border: #dadada solid 1px;
}

.idno-content p {
    line-height: 1.5em !important;
}

.idno-content form {
    /*display: none;*/
}

.aftercontent {
    font-size: 0.8em;
    margin-top: 5em;
}

.u-platform {
    color: #880000;
}

/**
    Page shell
*/

.nav img {
    width: 1.5em;
}

.nav .icon-container {
    margin-top: 0.7em;
    margin-right: 1em;
    margin-left: 1em;
    height: 1.5em;
    width: 1.5em;
}

.hint {
    color: #bbb;
}

.dropdown-menu-icon {
    width: 2em;
    display: inline-block;
}

/**
    Activity streams
*/

.idno-object {
    margin-top: 1em;
    display: block;
    box-shadow: 0 3px 2px -2px #ccc;
}

.idno-object h2 {
    font-size: 1em;
    margin: 0;
    padding: 0;
}

.idno-entry .h-card {
    font-size: 0.9em;
    padding-top: 1em;
    text-align: center;
    line-height: 1.2em;
}

.idno-entry .hidden-phone .h-card .icon-container {
    margin-bottom: 1em;
    width: 60px;
    height: 60px;
    overflow: hidden;
}

.idno-entry .visible-phone .h-card .icon-container {
    width: 1.3em;
    height: 1.3em;
    margin-bottom: -0.3em;
    overflow: hidden;
    border-radius: 0px !important;
}

.idno-entry .h-card .icon-container .u-photo {
    width: 100%;
    height: auto;
}

.idno-object a.edit {
    margin-left: 1em;
    color: #333 !important;
}

.annotations {
    margin-top: 1em;
    margin-bottom: 2em;
}

.edit-annotation {
    float: right;
}

.edit-annotation a {
    margin-right: 0.5em;
    color: #999;
}

.idno-comment {
    background-color: #eee;
}

.idno-comment-container textarea {

}

.idno-object .e-content {
    overflow: auto;
    margin-bottom: 1em;
    padding-top: 1em;
    line-height:1.6em;
    font-size: 1em;
}

.idno-object .e-content blockquote p {
    font-size: 1.1em;
    line-height: 1.6em;
    margin-bottom: 1em;
}

.idno-object .footer {
    clear: both;
    font-size: 0.85em;
    border-top: #eee solid 1px;
}

.idno-object .permalink {
    float: left;
}

.idno-object .permalink a, .idno-object .permalink a:hover {
    color: #999;
    margin-right: 0.25em;
}

.idno-object .permalink a.shortlink, .idno-object .permalink a.shortlink:hover {
    margin-right: 0.5em;
}

.idno-object .interactions {
    float: right;
}

.idno-object .interactions a, .idno-object .interactions a:hover {
    color: #999;
    margin-left: 0.25em;
}

.idno-object .dt-published {
    color: #999;
    margin-right: 0.25em;
}

.idno-object .interactions a:hover {
    color: #333;
    text-decoration: none;
}

.idno-object .citation {
    color: #ccc;
}

.owner .u-photo {
    height: 100%;
}

.owner .icon-container {
    margin-top: 1em;
    width: 50px;
    height: 50px;
}

.icon-container {
    border: 0px;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
}

.p-author {
    font-size: 1em !important;
    text-align: left !important;
    padding-bottom: 0.25em;
    border-bottom: #eee solid 1px;
}

.p-author img {
    height: 1.5em;
}

.pager,
.pagination {
    margin: auto;
    text-align: center;
    margin-top: 4em;
}

.idno-annotation .icon-container {
    width: 35px;
    height: 35px;
}

.idno-annotation .icon-container img {
    width: 100%;
}

.idno-annotation p {
    margin: 0;
    padding: 0;
}

.idno-annotation {
    font-size: 1.1em;
    margin-bottom: 1em;
}

.annotation-add-mini .icon-container,
.annotation-add .icon-container {
    margin-top: -1em;
}

.annotation-add-mini .icon-container {
    width: 25px;
    height: 25px;
}

.annotation-add-mini textarea {
    height: 1.5em;
}

.annotation-add-mini input[type=submit] {
    margin-top: -0.25em;
}

.posse a[rel=syndication] {
    background-color: #bbb;
    color: #fff;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
}

.posse {
    margin-bottom: 2em;
}

.reply-text p {
    margin-bottom: 0;
    padding-bottom: 0;
    color: #999;
    font-size: smaller;
}

.reply-text p a {
    color: #666;
}

/**
    Profiles
*/

.profile .namebadge {
    text-align: center !important;
}

.profile h1 {
    font-size: 2em;
    font-weight: 200;
}

.profile .icon-container {
    width: 150px;
    height: 150px;
}

.profile .icon-container .u-photo {
    width: 150px;
}

.profile .url-container {
    display: inline-block;
    margin-right: 1em;
}

.profile {
    margin-top: 4em;
    margin-bottom: 4em;
}

.profile .highlightedText {
    font-size: 1.5em;
    line-height: 1.5em;
}

/**
    Content creation
*/

.buttonBar {
    /*background-color: #4690d6;*/
    /*background-color: #bbb;*/
    color: #333;
    z-index: 9999;
    margin: 0px;
    width: 100%;
    margin-bottom: 2em;
}

#contentTypeButtonBar {
    padding: 1em;
    text-align: center;
}

a.contentTypeButton {
    /*float: left;*/
    width: 80px;
    text-align: center;
    font-size: 0.8em;
    text-decoration: none;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    transition: width 0.25s, padding-top 0.25s, padding-bottom 0.25s;
    color: #777;
    display: inline-block;
}

a.contentTypeButton:hover {
    text-decoration: none;
    color: #333;
    background-color: #fff;
}

span.contentTypeLogo {
    display: block;
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 5px;
}

#contentCreate {
    display: none;
    z-index: -10000;
    padding: 1em;
    margin-top: -5px;
    background-color: #fff;
}

.bodyInput {
    height: 15em;
}

.bodyInputShort {
    height: 7em;
}

.syndication span,
.syndication span label {
    display: inline-block;
    margin: 0;
    padding: 0;
    /*font-size: 0.9em;*/
}

.syndication span {
    margin-right: 0.125em;
    margin-bottom: 0.35em;
}

.syndication span input[type=checkbox] {
    display: none;
}

.syndication span input[type=checkbox] + label {
    width: 8em;
    background-color: #ccc;
    color: #eee;
    border-radius: 3px;
    padding: 0.25em;
    text-align: center;
}

.content-type p input[type=checkbox]:checked + label,
.syndication span input[type=checkbox]:checked + label {
    background-color: #329410;
    color: #fff;
}

.content-type p input[type=checkbox] {
    display: none;
}

.content-type p input[type=checkbox] + label {
    background-color: #ccc;
    color: #eee;
    border-radius: 3px;
    padding: 0.25em;
    font-size: 30px;
}

#counter {
    text-align: right;
    padding-top: 0.25em;
}

#counter .count {
    font-size: 1.3em;
    color: #aaa;
}

.theme {
    padding: 1em;
    margin-bottom: 2em;
    background-color: #fafafa;
}

.theme img {
    border: #999 1px solid;
    margin-top: 1em;
    margin-bottom: 1em;
}

/**
 * Friendly messages
 */

.welcome,
.explanation {
    font-size: 1.5em;
    line-height: 1.5em;
}

.welcome {
    text-align: center;
}

.explanation {
    margin-top: 1em;
    margin-bottom: 2em;
}

.field-description {
    font-size: 0.8em;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/**
 * Data panes
 */

.pane {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 15em;
    border: 1px #ddd solid;
}

div.pane div.row:nth-of-type(even) {
    background-color: #fff;
}

div.pane div.row:nth-of-type(odd) {
    background-color: #fafafa;
}