/**
    Default Known CSS
*/

body {
    background-color: #ffffff;
    color: #333;
    font-weight: 400 !important;
}

h1,h2 {
    font-weight: 600;
}

h2 {
    line-height: 1.2em;
	margin-bottom: 10px !important;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
}

img {
    max-width: 100%;
}
.clearall {
    clear: both;
}
.navbar-nav {
    padding-top: 5px;
}
.nav.nav-tabs li {
    line-height: 1.8em !important;
    height: 2em;
}
.navbar-nav > li > .dropdown-menu, .navbar-right .dropdown-menu {
	margin-top: 5px;
}

.beforecontent {
    margin-bottom: 5em;
}

.idno-content  {
    background-color: #fff;
    padding: 1.5em;
    padding-bottom: 0;
    /*border: #dadada solid 1px;*/
}

.idno-content p {
    line-height: 1.5em !important;
}

.idno-content img {
    height: auto;
}

.idno-body p {
	font-family: Georgia,"Times New Roman",Times,serif;
	font-size: 1.2em;
}

.idno-object .idno-body li {
	font-family: Georgia,"Times New Roman",Times,serif;
	font-size: 1.2em;
	line-height: 1.4em;
}

.idno-content form {
    /*display: none;*/
}

.aftercontent {
    font-size: 0.8em;
    margin-top: 5em;
}

.u-platform {
    color: #880000;
}

/**
    Page shell
*/

.navbar img {
    width: 1.5em;
}

.navbar .icon-container {
    margin-top: 0.3em;
    margin-right: 1em;
    margin-left: 1em;
    height: 1.5em;
    width: 1.5em;
}

.hint {
    color: #bbb;
}

.dropdown-menu-icon {
    width: 2em;
    display: inline-block;
}


/**
    Activity streams
*/

.idno-object {
    margin-top: 1em;
    display: block;
    box-shadow: none;
}

.idno-object h2 {
    font-size: 1.8em;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
}

.idno-object h1 a, .idno-object h2 a, .idno-object h3 a {
	color: #333333;
}

.idno-object h1 a:hover, .idno-object h1 a:focus,
.idno-object h2 a:hover, .idno-object h2 a:focus,
.idno-object h3 a:hover, .idno-object h3 a:focus {
	color: #999999;
}

.idno-object a {
	color:#4c93cb;

}

.idno-entry .h-card {
    font-size: 0.9em;
    padding-top: 1em;
    text-align: center;
    line-height: 1.2em;
}

.idno-entry .hidden-phone .h-card .icon-container {
    margin-bottom: 1em;
    width: 60px;
    height: 60px;
    overflow: hidden;
}

.idno-entry .visible-phone .h-card .icon-container {
    width: 1.3em;
    height: 1.3em;
    margin-bottom: -0.3em;
    overflow: hidden;
    border-radius: 0px !important;
}

.idno-entry .h-card .icon-container .u-photo {
    width: 100%;
    height: auto;
}

.idno-object a.edit {
    margin-left: 1em;
    color: #333 !important;
}

.annotations {
    margin-top: 1em;
    margin-bottom: 2em;
}

.edit-annotation {
    float: right;
}

.edit-annotation a {
    margin-right: 0.5em;
    color: #999;
}

.idno-comment {
    background-color: #eee;
}

.idno-comment-container textarea {

}

.idno-object .idno-body {
    overflow: auto;
    margin-bottom: 1em;
    padding-top: 0em;
    line-height:1.6em;
    font-size: 1em;
}

.idno-object .idno-body blockquote p {
    font-size: 1.1em;
    line-height: 1.6em;
    margin-bottom: 1em;
}

.idno-object .footer {
    clear: both;
    font-size: 0.85em;
    border-top: none;
}

.blank-footer p {
	text-align: center;
}

.idno-object .permalink {
    float: left;
}

.idno-object .permalink a {
    color: #4c93cb;
    margin-right: 0.25em;
}

.idno-object .permalink a:hover {
    color: #357ebd;
    margin-right: 0.25em;
}

.idno-object .permalink a.shortlink, .idno-object .permalink a.shortlink:hover {
    margin-right: 0.5em;
}

.idno-object .interactions {
    float: right;
}

.idno-object .interactions a, .idno-object .interactions a:hover {
    color: #999;
    margin-left: 0.25em;
}

.idno-object .dt-published {
    margin-right: 0.25em;
}

.idno-object .interactions a:hover {
    color: #333;
    text-decoration: none;
}

.idno-object .citation {
    color: #ccc;
}

.h-cite .h-card {
    text-align: left;
}

.h-cite .idno-body {
    margin-bottom: 0;
}


.owner .u-photo {
    height: 100%;
}

.owner .icon-container {
    margin-top: 1em;
    width: 50px;
    height: 50px;
}

.icon-container {
    border: 0px;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
}

.p-author {
    font-size: 1em !important;
    text-align: left !important;
    padding-bottom: 0.25em;
    border-bottom: #eee solid 1px;
}

.p-author img {
    height: 1.5em;
}

.pager,
.pagination {
    margin: auto;
    text-align: center;
    margin-top: 4em;
}

.idno-annotation .icon-container {
    width: 35px;
    height: 35px;
}

.idno-annotation .icon-container img {
    width: 100%;
}

.idno-annotation p {
    margin: 0;
    padding: 0;
}

.idno-annotation {
    font-size: 1.1em;
    margin-bottom: 1em;
}

.annotation-add {
    margin-top: 1em;
}

.annotation-add-mini .icon-container,
.annotation-add .icon-container {
    margin-top: -0.5em;
}

.annotation-add-mini .icon-container {
    width: 40px;
    height: 40px;
}

.annotation-add-mini textarea {
    height: 1.5em;
}

.annotation-add-mini input[type=submit] {
    margin-top: -0.25em;
}

.posse a[rel=syndication] {
    background-color: none;
    color: #333;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

.posse {
    margin-bottom: 2em;
}

.reply-text p {
    /*margin-bottom: 0;
    padding-bottom: 0;*/
    color: #999;
    font-size: smaller;
}

.reply-text p a {
    color: #666;
}

/**
    Profiles
*/

.profile .namebadge {
    text-align: center !important;
}

.profile h1 {
    font-size: 2em;
    font-weight: 200;
}

.profile .icon-container {
    width: 150px;
    height: 150px;
}

.profile .icon-container .u-photo {
    width: 150px;
}

.profile .url-container {
    display: inline-block;
    margin-right: 1em;
}

.profile {
    margin-top: 0.5em;
    margin-bottom: 4em;
}

.profile .highlightedText {
    font-size: 1.5em;
    line-height: 1.5em;
}

/**
    Content creation
*/

.buttonBar {
    /*background-color: #4690d6;*/
    /*background-color: #bbb;*/
    color: #333;
    z-index: 9999;
    margin: 0px;
    width: 100%;
    margin-bottom: 2em;
}

#contentTypeButtonBar {
    padding: 1em;
    text-align: center;
}

a.contentTypeButton {
    /*float: left;*/
    width: 80px;
    text-align: center;
    font-size: 0.8em;
    text-decoration: none;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    transition: width 0.25s, padding-top 0.25s, padding-bottom 0.25s;
    color: #333;
    display: inline-block;
}

a.contentTypeButton:hover {
    text-decoration: none;
    color: #777;
    background-color: #fff;
}

span.contentTypeLogo {
    display: block;
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 5px;
}

#contentCreate {
    display: none;
    z-index: -10000;
    padding: 1em;
    margin-top: -5px;
    background-color: #fff;
}

.bodyInput {
    height: 15em;
}

.bodyInputShort {
    height: 7em;
}

.vague {
    font-size: 12px;
    color: #999;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.reading {
	text-align: left;
	margin-bottom: 5px;
}

/*
.syndication span,
.syndication span label {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.syndication span {
    margin-right: 0.125em;
    margin-bottom: 0.35em;
}

.syndication span input[type=checkbox] {
    display: none;
}

.syndication span input[type=checkbox] + label {
    width: 8em;
    background-color: #999;
    color: #eee;
    border-radius: 3px;
    padding: 0.25em;
    text-align: center;
}

.content-type p input[type=checkbox]:checked + label,
.syndication span input[type=checkbox]:checked + label {
    background-color: #678c70;
    color: #fff;
}

.content-type p input[type=checkbox] {
    display: none;
}

.content-type p input[type=checkbox] + label {
    background-color: #ccc;
    color: #eee;
    border-radius: 3px;
    padding: 0.25em;
    font-size: 30px;
    cursor: pointer;
}
*/
#counter {
    text-align: right;
    padding-top: 0.25em;
}

#counter .count {
    font-size: 1.3em;
    color: #aaa;
}

.theme {
    padding: 1em;
    margin-bottom: 2em;
    background-color: #ffffff;
    height: 32em;
    overflow-y: scroll;
}

.theme img {
    border: #c5c5c5 3px solid;
    border-radius: 4px;
    margin-top: 1em;
    margin-bottom: 1em;
}

/**
 * Friendly messages
 */

.welcome {
    font-size: 1.5em;
    line-height: 1.5em;
}

.explanation {
    font-size: 1.2em;
    line-height: 1.5em;
}


.welcome {
    text-align: center;
}

.text-center h2, .text-center h3 {
	font-weight: 600;
}

.text-center h2 {
	font-size: 28px;
	margin-bottom: 0.8em;
}

.text-center h3 {
	font-size: 24px;
}

.explanation {
    margin-top: 1em;
    margin-bottom: 1.5em;
}

.field-description {
    font-size: 0.8em;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}



/**
 * Data panes
 */

.pane {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 15em;
    border: 1px #ddd solid;
}

div.pane div.row:nth-of-type(even) {
    background-color: #fff;
}

div.pane div.row:nth-of-type(odd) {
    background-color: #fafafa;
}

/** Sign In **/

.btn-signin {
    background-color: #ffffff;
    background-image: none;
    border: 2px solid #000000;
    box-shadow: none;
    color: #000000;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: none;
    font-size: 16px;
}

.btn-signin:hover, .btn-signin:active, .btn-signin:focus {
    background-color: #73b2e3;
    background-image: none;
    border-color: #73b2e3;
    box-shadow: none;
    color: #ffffff;
    text-shadow: none;
}

/** Register **/
.btn-reg {
    background-color: #ffffff;
    background-image: none;
    border: 2px solid #000000;
    box-shadow: none;
    color: #000000;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: none;
    font-size: 16px;
}

.btn-reg:hover, btn-reg:active, .btn-reg:focus {
    background-color: #73b2e3;
    background-image: none;
    border-color: #73b2e3;
    box-shadow: none;
    color: #fff;
    text-shadow: none;
}
/** Interface Buttons **/

.btn-link {
	background-color: #ffffff;
	background-image: none;
    border: 2px solid #70997a;
    box-shadow: none;
    color: #70997a;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: none;
    background-repeat: repeat-x;
    border-radius: 4px;

}

.btn-primary {
    background-color: #4c93cb;
    border-color: #4c93cb;
    color: #ffffff;
    text-shadow: none;
    background-image: none;
    background-repeat: repeat-x;
    box-shadow: none;
}

.btn-primary:hover, btn-primary:active, .btn-primary:focus {
    background-color: #357ebd;
    border-color: #357ebd;
    color: #ffffff;
}

.upload {
	margin-bottom: 5px;
	margin-left: 10px;
}

.btn-cancel {
    background-color: #dddddd;
    border-color: #dddddd;
    color: #333333;
    text-shadow: none;
    background-image: none;
    background-repeat: repeat-x;
    box-shadow: none;
}

.btn-cancel:hover, btn-cancel:active, .btn-cancel:focus {
    background-color: #c5c5c5;
    border-color: #c5c5c5;
    color: #333333;
}

.btn-save {
    background-color: #8cbf99;
    border-color: #8cbf99;
    color: #ffffff;
    text-shadow: none;
    background-image: none;
    background-repeat: repeat-x;
    box-shadow: none;
}

.btn-save:hover, btn-save:active, .btn-save:focus {
    background-color: #70997a;
    border-color: #70997a;
    color: #ffffff;
}

.btn-default {
    background-color: #bbbbbb;
    border-color: #bbbbbb;
    color: #666666;
    text-shadow: none;
    background-image: none;
    background-repeat: repeat-x;
    box-shadow: none;
}

.btn-default:hover, .btn-default:active, .btn-default:focus {
    background-color: #c5c5c5;
    border-color: #c5c5c5;
    color: #333333;
}

.btn-large {
    border-radius: 6px;
    font-size: 17.5px;
    padding: 11px 19px;
}

.well {
	background-color: #ffffff;
	border: 3px solid #73b2e3;
}

a {
    color: #4c93cb;
    text-decoration: none;
    font-weight: 400;
}

a:hover, a:focus {
	color: #357ebd;
}

input[type="email"], input[type="password"], input[type="text"]  {
	border: 1px solid #dddddd;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 8px;
	padding-right: 5px;
}

input[type="email"]:focus, input[type="password"]:focus, input[type="text"]:focus {
	box-shadow: none;
    border: 1px solid #4c93cb;
    color: #555555;
}

textarea:focus {
    box-shadow: none;
}

input:focus:invalid, textarea:focus:invalid, select:focus:invalid {
    border-color: #4c93cb;
    color: #555555;
}
input:focus:invalid:focus, textarea:focus:invalid:focus, select:focus:invalid:focus {
    border-color: #4c93cb;
    box-shadow: none;
}

textarea:focus, input[type="url"]:focus {
    border-color: #4c93cb;
    box-shadow: none;
    outline: 0 none;
}

.blank-footer {
    margin: auto;
    padding-top: 50px;
    width: 100%;
    clear: both;
}

.navbar-inverse .brand {
    color: #333333;
}
.navbar-inverse .brand, .navbar-inverse .nav > li > a {
    color: #333333;
    text-shadow: none;
}

.navbar-inverse  {
    background-color: #ffffff;
    background-image: none;
    background-repeat: repeat-x;
    border-color: #ffffff;
}

.navbar-inverse .brand:hover, .navbar-inverse .nav > li > a:hover, .navbar-inverse .brand:focus, .navbar-inverse .navbar > li > a:focus {
    color: #666;
}

.navbar .brand {
	font-weight: 400;
	font-size: 28px;
    text-shadow: none;
}

.navbar-inverse .navbar-search .search-query {
    background-color: #ffffff;
    border-color: #999999;
    box-shadow: none;
    color: #333333;
    transition: none 0s ease 0s ;
}


.navbar-inverse .navbar-search .search-query:focus, .navbar-inverse .navbar-search .search-query.focused {
    background-color: #ffffff;
    border-color: #999999;
    border: 0 none;
    box-shadow: 0 0 3px rgba(53, 126, 189, 0.4);
    color: #999999;
    outline: 0 none;
    padding: 5px 15px;
    text-shadow: 0 1px 0 #ffffff;
}

.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
    border-bottom-color: #333333;
    border-top-color: #333333;
}

.navbar-inverse .nav li.dropdown > a:hover .caret, .navbar-inverse .nav li.dropdown > a:focus .caret {
    border-bottom-color: #666666;
    border-top-color: #666666;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: #ffffff;
    color: #333333;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle .caret, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle .caret, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle .caret {
    border-bottom-color: #333333;
    border-top-color: #333333;
}

/*.navbar-right {
    margin-bottom: 15px;
}*/

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
    background-color: #73b2e3;
    background-image: none;
    background-repeat: repeat-x;
    color: #ffffff;
    text-decoration: none;
}

@media screen and (max-width: 767px) {
    .navbar-nav .open .dropdown-menu {
        float: left;
    }
    .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
        max-height: 100%;
    }
}

.navbar {
    background-color: #fff;
    background-image: none;
    background-repeat: repeat-x;
    border: none;
    border-radius: 4px;
    box-shadow: none;
    min-height: 40px;
    padding-left: 0px;
    padding-right: 20px;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    background-color: #FFFFFF;
    box-shadow: none;
    color: #222222;
    text-decoration: none;
    font-weight: 400;
}

.brand,
.navbar-header > li > a {
	text-shadow: none;
}

.page-body .navbar-inner {
	text-transform: uppercase;
}

.page-body .navbar .nav > li > a {
	padding: 8px 8px;
}

.page-body .navbar-inner a {
	font-weight: 300;
}

.navbar {
	margin-bottom: 50px;
}

.hero-unit {
    background-color: #fff;
    border: 3px solid #73b2e3;
    padding: 40px;
}

.form-horizontal .control-label {
    float: left;
    padding-top: 12px;
}

small {
    font-size: 75%;
    font-weight: 400;
}

.alert-info {
    background-color: #fff1ba;
    border-color: #ffcc66;
    color: #e8945d;
}

.alert-success {
    background-color: #F3FFF8;
    border: solid 2px #678c70;
    color: #535353;
    margin-top: 30px;
}

.pager li > a, .pager li > span {
    background-color: #73b2e3;
    border: 3px solid #73b2e3;
    border-radius: 0;
    display: inline-block;
    padding: 8px 24px;
    color: #ffffff;
    font-size: 1.2em;
}

.pager li > a:hover, .pager li > a:focus {
	background-color: #ffffff;
	border: 3px solid #4c93cb;
	color: #4c93cb;
}

#photo-preview {
	margin-bottom: 20px;
}

.note-editor .note-toolbar {
    background-color: #ffffff !important;
}

.note-editor {
	border: 1px solid #dddddd !important;
}

.note-editor .note-toolbar {
    border-bottom: 1px solid #dddddd !important;
}

.note-style .btn, .note-fancy .btn, .note-fontsize .btn, .note-color .btn, .note-para .btn, .note-codeview .btn {
	background-color: #ffffff;
    background-image: none;
    box-shadow: none;
    border: 0;
    text-shadow: none;
}

.note-style .btn:hover, .note-fancy .btn:hover, .note-fontsize .btn:hover, .note-color .btn:hover, .note-para .btn:hover, .note-codeview .btn:hover {
	background-color: #73b2e3;
    background-image: none;
    box-shadow: none;
    border: 0;
    text-shadow: none;
    color: #ffffff;
}

.btn-group > .btn + .dropdown-toggle {
	box-shadow: none;
}

.p-map {
	padding-top: 10px;
}

.map {
	padding-bottom: 15px;
}

#inreplyto {
	padding-bottom: 10px;
}

.wordcount {
	padding-bottom: 10px;
}

.icon-tag {
	padding-right: 10px;
	color: #999999;
	font-size: 1.2em;
	vertical-align: middle;
}

.idno-object a.p-category {
	color: #8cbf99;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color: #ffffff;
    background-repeat: repeat-x;
    padding: 3px;
    font-size: 1.0em;
}

.idno-object a.p-category:hover {
	color: #70997a;
	background-color: #ffffff;
    border-color: #70997a;
    text-decoration: none;
}

textarea.feedback {
	width: 100%;
    background-color: #fbfbfb;
    border: 3px solid rgba(115, 178, 227, 0.4);
    border-radius: 5px;
    box-sizing: border-box;
    color: #333333;
    font-family: 'Pontano Sans',Verdana,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 5px;
    margin-top: 2px;
    padding: 10px;
}

textarea.feedback:focus {
    background: none repeat scroll 0 0 #fff;
    border: 3px solid #4c93cb;
    outline: medium none;
    padding: 10px;
}

p.feedback {
	font-size: 1.2em;
}

.feedback-btn {
	width: 100%;
	text-align: right;
	padding-top: 20px;
}

.btn-feedback {
    background-color: #73b2e3;
    border-color: #73b2e3;
    color: #ffffff;
    text-shadow: none;
    background-image: none;
    background-repeat: repeat-x;
    box-shadow: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-repeat: repeat-x;
    border-image: none;
    border-radius: 7px;
    cursor: pointer;
    display: inline-block;
    line-height: 24px;
    padding: 15px 65px;
    font-size: 24px;
}

.btn-feedback:hover, btn-feedback:active, .btn-feedback:focus {
    background-color: #4c93cb;
    border-color: #4c93cb;
    color: #ffffff;
}

.idno-entry-helper {
    margin-bottom: 3em;
}

.idno-entry-helper .idno-content {
    background-color: #f8f8f8;
    border: 2px solid #c5c5c5;
}

.idno-entry-helper p {
    font-family: Helvetica Neue, Helvetica, Arial !important;
    font-size: 1.2em !important;
}

.idno-entry-helper .robot-head p {
    font-size: 0.9em !important;
}

.idno-entry-helper .robot-head p img {
    width: 100%;
}

.idno-entry-helper .robot-murmur p {
    font-size: 1.2em;
}

.idno-entry-helper .robot-footer {
    margin-top: 2em;
    font-size: 0.75em;
}

.fa-heart {
	color: #9f111b;
}

.fa-heart:hover {
	color: #af474f;
}

.access-control-block {
    display: block;
    margin-bottom: 1em;
}

.subscription {
    background-color: #eee;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.subscription p {
    margin: 0; padding: 0;
}

.subscription .feed_url {
    font-size: 0.8em;
    color: #999;
}

select, input[type="file"] {
    height: 40px;
    line-height: 34px;
	padding-left: 10px;
}

.form-horizontal .js-controls {
    margin-left: 0px;
    padding-top: 30px;
}

.form-horizontal .controls-save {
    margin-top: 30px;
}

.code {
	margin-top: 20px;
}

.form-horizontal .control-label {
    text-align: left;
    font-weight: 700;
}

.control-label-api {
	font-weight: 700;
	padding-top: 15px;
}

.config-desc {
	padding-top: 6px;
	font-size: small;
	color: #888888;
}

.email-settings {
	padding-top: 25px;
	padding-bottom: 5px;
}

a.connect {
    box-sizing: border-box;
    display: inline-block;
}
.tw {
    background-color: #55acee;
    background-image: url("../gfx/onboarding/twitter.png");
    border-color: #55acee;
}

.tw:hover, .tw:focus {
    background-color: #66757f;
    color: #FFFFFF;
    border-color: #66757f;
    background-image: url("../gfx/onboarding/twitter.png");
}

.fsqr {
    background-color: #40b3df;
    background-image: url("../gfx/onboarding/foursquare.png");
    border-color: #40b3df;
}

.fsqr:hover, .fsqr:focus {
    background-color: #17649a;
    background-image: url("../gfx/onboarding/foursquare.png");
    border-color: #17649a;
    color: #ffffff;
}

.fb {
    background-color: #3b5998;
    background-image: url("../gfx/onboarding/facebook.png");
    border-color: #3b5998;
}
.fb:hover, .fb:focus {
    background-color: #8b9dc3;
    background-image: url("../gfx/onboarding/facebook.png");
    border-color: #8b9dc3;
    color: #ffffff;
}

.goog {
    background-color: #dd4b39;
    background-image: url("../gfx/onboarding/google.png");
    border-color: #dd4b39;
}
.goog:hover, .goog:focus {
    background-color: #dba59e;
    background-image: url("../gfx/onboarding/google.png");
    border-color: #dba59e;
    color: #ffffff;
}

.lkin {
    background-color: #0976b4;
    background-image: url("../gfx/onboarding/linkedin.png");
    border-color: #0976b4;
}
.lkin:hover, .lkin:focus {
    background-color: #000;
    background-image: url("../gfx/onboarding/linkedin.png");
    border-color: #000;
    color: #ffffff;
    text-decoration: none;
}

.scld {
    background-color: #f80;
    background-image: url("../gfx/onboarding/soundcloud.png");
    border-color: #f80;
}
.scld:hover, .scld:focus {
    background-color: #f30;
    background-image: url("../gfx/onboarding/soundcloud.png");
    border-color: #f30;
    color: #ffffff;
}
.fl {
    background-color: #0063dc;
    background-image: url("../gfx/onboarding/flickr.png");
    border-color: #0063dc;
}
.fl:hover, .fl:focus {
    background-color: #ff0084;
    background-image: url("../gfx/onboarding/flickr.png");
    border-color: #ff0084;
    color: #ffffff;
}

.ff {
    background-color: #8cbf99;
    border-color: #8cbf99;
}
.ff:hover, .ff:focus {
    background-color: #678c70;
    border-color: #678c70;
    color: #ffffff;
}

.firefox {
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    box-shadow: none;
    color: #ffffff;
    font-family: Helvetica,sans-serif;
    font-size: 24px;
    margin-bottom: 5px;
    margin-top: 15px;
    padding: 10px 10px 5px 10px;
    text-align: center;
    width: 100%;
}

.firefox:hover {
	text-decoration: none;
}

.connect {
    background-position: 15px 6px;
    background-repeat: no-repeat;
    background-size: 32px auto;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    box-shadow: none;
    color: #ffffff;
    font-family: Helvetica,sans-serif;
    font-size: 24px;
    margin-bottom: 5px;
    margin-top: 15px;
    padding: 15px 15px 10px 75px;
    text-align: left;
    width: 100%;
}

.connect:hover {
	text-decoration: none;
}

.connected {
    background-color: #bbb;
    border: 1px solid #bbb;
}

.connected:hover, .connected:focus {
    background-color: #aaa;
}

.social {
    text-align: left;
}

.social.span4 {
	margin-left: 0px;
}

.social.span6 {
	margin-left: 0px;
}

.bookmarklet {
    background-color: #ffffff;
    background-image: none;
    background-repeat: repeat-x;
    border-color: #8cbf99;
    border: 2px solid;
    box-shadow: none;
    color: #8cbf99;
    text-shadow: none;
    border-radius: 4px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}

a:hover.bookmarklet, a:focus.bookmarklet {
	text-decoration: none;
	/*border-collapse: #678c70;*/
	color: #678c70;
}
.pages.span3 {
	margin-left: 0px;
}

p.pages {
	padding-bottom: 25px;
}

tr.pages {
	border-bottom: 1px solid #000;
	font-size: 1.2em;
	font-weight: bold;
	line-height: 42px;
}

tr.items {
	line-height: 28px;
}

.sortable-pages .items td,
.sortable-categories .items td {
    cursor: move;
}

.sortable-pages .items.pages-no-category td,
.sortable-categories .items.pages-no-category td {
    cursor: default;
}

.btn-page {
	margin-left: 10px;
	padding: 4px 20px;
	line-height: 28px;
}

.btn-add {
	padding: 6px 18px;
}

.note-editor {
	margin-bottom: 20px;
}

/* Syndication toggles */

.syndication-toggle .btn-default:hover,
.syndication-toggle .btn-default:focus,
.syndication-toggle .btn-default:active,
.syndication-toggle .btn-default.active,
.syndication-toggle .open > .dropdown-toggle.btn-default {
    color: #999;
}

.syndication-toggle .btn:active,
.syndication-toggle .btn.active {
    background-image: none;
    box-shadow: none;
    outline: 0 none;
}

.syndication-toggle .btn-info {
    background-color: #70997a;
    border-color: #70997a;
    color: #fff;
    text-shadow: none;
    background-image: none;
}
.syndication-toggle .btn-info:hover,
.syndication-toggle .btn-info:focus,
.syndication-toggle .btn-info:active,
.syndication-toggle .btn-info.active,
.syndication-toggle .open > .dropdown-toggle.btn-info {
    background-color: #678c70;
    border-color: #678c70;
    color: #fff;
    background-image: none;
}

.syndication-toggle label.checkbox-inline {
    font-size: 20px;
    color: #666;
}

.syndication-toggle .checkbox label .toggle,
.syndication-toggle .checkbox-inline .toggle {
    margin-left: 5px;
    margin-right: 5px;
}

.syndication-toggle .checkbox {
    /*width: 400px !important;*/
}

.toggle {
    min-width: 8em !important;
    margin-bottom: 5px;
}

.toggle-off.btn {
    padding-left: 0px;
}

/*.toggle-off.btn {
	padding-top: 6px;
}*/

/*.toggle-on.btn {
	padding-top: 6px;
}*/


/* Config Toggles */

.config-toggle {
	padding-top: 8px;
}

.config-toggle .btn-default:hover,
.config-toggle .btn-default:focus,
.config-toggle .btn-default:active,
.config-toggle .btn-default.active,
.config-toggle .open > .dropdown-toggle.btn-default {
    color: #999;
}

.config-toggle .btn:active,
.config-toggle .btn.active {
    background-image: none;
    box-shadow: none;
    outline: 0 none;
}

.config-toggle .btn-info {
    background-color: #4c93cb;
    border-color: #4c93cb;
    color: #fff;
    text-shadow: none;
    background-image: none;
}
.config-toggle .btn-info:hover,
.config-toggle .btn-info:focus,
.config-toggle .btn-info:active,
.config-toggle .btn-info.active,
.config-toggle .open > .dropdown-toggle.btn-info {
    background-color: #357ebd;
    border-color: #357ebd;
    color: #fff;
    background-image: none;
}

.config-toggle label.checkbox-inline {
	font-size: 20px;
	color: #666;
}

.config-toggle .checkbox label .toggle,
.config-toggle .checkbox-inline .toggle {
    margin-left: 5px;
    margin-right: 5px;
}


/* Saving Interaction */
.spinner {
  margin: 20px auto 0;
  width: 90px;
  text-align: center;
}

.bounce1 {
  background-color: #af474f;
}

.bounce2 {
  background-color: #ffb280;
}

.bounce3 {
  background-color: #ffcc66;
}

.spinner > div {
  width: 18px;
  height: 18px;
/*  background-color: #4c93cb; */

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.progress-striped .bar {
    background-color: #4c93cb;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
}

[class^="fa fa-"], [class*=" fa fa-"] {
	width: 1.5em;
	background-image:none;
}

/* Updates for WYSIWYG */

.btn-group > .btn:first-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: 0;
}

.btn-group > .btn:last-child, .btn-group > .dropdown-toggle {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

/* Updates for Access Permissions */

a.access {
	background-color: #fff;
	background-image: none;
	border: 1px solid #cccccc;
	box-shadow: none;
	text-shadow: none;
	color: #555555;
}

.access .caret {
	border-top: 4px solid #555;
}

/* Media */

video {
    width: 100%;
}

audio {
    width: 100%;
}

/* Member directory */

.member-directory .member-name {
    font-size: 1.3em;
}

.member-directory .member-icon {
    height: 50px;
}

.member-directory .light-description a,
.member-directory .light-description {
	color: #888;
    margin-top: 0.5em;
}

.member-directory .fa-chevron-right {
    font-size: 1.5em;
    margin-top: 0.5em;
}
/* Syndication Panels */
.panel-default > .panel-heading {
    background-color: #f0f0f0;
    border-color: #f0f0f0;
    color: #333;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom: 1px solid #adadad;
}
.panel-default {
    border-color: #adadad;
    border-radius: 0px;
}
.panel-title {
	color:#999;
	font-weight: 400;
}
.panel-group {
	margin-bottom: 0px;
	border-bottom: none;
	margin-top: 10px;
}
textarea.form-control {
    height: 10em;
}
/* File Uploader */
.file-upload {
	text-align: left;
	border-radius: 10px;
	border: 1px solid #dadada;
	padding:1em;
	background-color: #f4f4f4;
	padding-left: 1.4em;
}
.btn-download {
	font-size: 1.2em;
	padding: 0;
	background-color: #f4f4f4;
	white-space: normal;
	width: 100%;
	text-align: left;
}
.btn-download:hover, .btn-download:focus {
	color:#357ebd;
}
.file-upload small {
	color:#666;
}

/* Notifications */

.notification .notification-avatar {
    float: left;
    margin-right: 1em;
    max-width: 64px;
}

.notification.notification-unread .panel-heading {
    color: #333;
    font-weight: bold;
}

.notification.notification-read .panel-heading {
    color: #666;
    font-weight: normal;
}

.notification .panel-heading time {
    float: right;
}

.notification .notification-avatar img {
}

.notification .notification-body {
    overflow: off;
    margin-left: 80px;
}

.notification blockquote {
    font-size: 1em;
}

.unread-notification-count {
    font-size: 0.8em;
    font-weight: bold;
    color: #f00;
    position: relative;
    top: -0.5em;
    left: -0.2em;
}

/* Media player */

.audio-play-wrapper {
    display: inline-block;
    width: 40px !important;
    height: 40px !important;
    background-color: #eee;
    border-radius: 30px;
    text-align: center;
    float: left;
    margin-right: 5px;
    z-index: 99999999;
}
.audio-play-button {
    text-align: center;
    font-size: 20px;
    color: #999 !important;
    position: relative;
    top: 8px;
    left: 0px;
}

.idno-entry .idno-audio h2 {
    margin-top: 3px !important;
}

/* Serialized data */

.extra-metadata {
    display: none;
}
