/* CSS changes for Boostrap 3 migration */
.nav-tabs.nav > li > a {
	color: #777777;
	font-weight: 300;
	text-transform: uppercase;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	padding-left: 0px;
	padding-right: 8px;
	font-size: 14px;
}

.nav-tabs {
    border-bottom: none;
}

.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:focus, 
.nav-tabs > li.active > a:hover {
    border-color: transparent;
    border-image: none;
    border-width: 1px;
}

.nav-tabs > li.active > a {
	color:#222222;
	font-weight: 400;
    margin-top: 1px;
}

.nav-tabs > li > a:hover {
    border-color: transparent;
}

.nav > li > a:focus,
.nav > li > a:hover {
	background-color: transparent;
	text-decoration: none;
	color: #333;
}

.navbar {
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
	border-radius: 0px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.navbar-default .navbar-brand {
    color: #333;
}

.navbar-brand {
    font-size: 28px;
    font-weight: 400;
}

.navbar-default .navbar-nav > li > a {
	color: #333;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #666;
}

.navbar-nav > li > .nav > li > a {
    color: #333;
   /* padding-bottom: 15px;
    padding-top: 15px;*/
}

.navbar-nav > li > .nav > li > a:hover, .navbar-nav > li > .nav > li > a:focus  {
    color: #666;
}
.navbar-nav > li > a {
	padding-bottom: 10px;
	padding-top: 10px;
}

@media (min-width:837px) {
	.admin.navbar-form {
		padding-left: 0px;
	}	
}


.navbar-form .form-control {
	width:100%;
}

.navbar-form .form-control.search-query {
    border-color: #999;
    box-shadow: none;
    transition: none 0s ease 0s ;
    border-radius: 15px;
}

.form-control {
	box-shadow: none;
	border-radius: 0px;
}

.control-label {
	padding-top: 12px;
}

.controls-save {
	margin-top: 30px;
}

.admin .col-md-2, .admin .col-md-4, .admin .col-md-6 {
	padding-right:0px;
}
@media (max-width:550px) {
	.admin .col-md-2, .admin .col-md-4, .admin .col-md-6 {
		padding-right:10px;
	}
}
@media (max-width:1082px) {
	.config-desc {
    	padding-top: 0px;
	}
	select, textarea, 
	input[type="text"], 
	input[type="password"], 
	input[type="datetime"], 
	input[type="datetime-local"], 
	input[type="date"], 
	input[type="month"], 
	input[type="time"], 
	input[type="week"], 
	input[type="number"], 
	input[type="email"], 
	input[type="url"], 
	input[type="tel"], 
	input[type="color"], 
	.uneditable-input {
    	margin-bottom: 5px;
    }
}
.label {
	font-weight: 500;
}
.content-form {
	padding-top: 15px;
}

textarea.wysiwyg {
    height: 15em;
}
textarea.wysiwyg-short {
    /*height: 4em !important;*/
}

textarea.bodyInput {
	height: 15em;
}

textarea.comic, textarea.event {
	height: 9em
}

.connect {
	padding: 15px 15px 10px 25px;
}

.tw {
    background-image: none;
}

.tw:hover, .tw:focus {
    background-color: #66757f;
    background-image: none;
    border-color: #66757f;
    color: #ffffff;
}

.lkin {
    background-image: none;
}

.lkin:hover, .lkin:focus {
    background-color: #66757f;
    background-image: none;
    border-color: #66757f;
    color: #ffffff;
}

.fb {
	background-image: none;
}

.fb:hover, .fb:focus {
	background-image: none;
}

.fsqr {
	background-image: none;
	background-color: #0732a2;
	border-color: #0732a2;
}

.fsqr:hover, .fsqr:focus {
	background-image: none;
	background-color: #ffc800;
	border-color: #ffc800;
}

.connected.fsqr {
	background-color: #bbb;
	border-color: #bbb;
}

.connect.fsqr:hover {
	background-color: #aaa;
}

.fl {
	background-image: none;
}

.fl:hover, .fl:focus {
	background-image: none;
}

.scld {
	background-image: none;
}

.scld:hover, .scld:focus {
	background-image: none;
}

.lkin {
	background-image: none;
}

.lkin:hover, .lkin:focus {
	background-image:none;
}

.theme {
	height: 28em;
}

.well {
	background-image: none;
}

.btn-success {
    background-image: none;
	background-color: #70997a;
	border-color:#70997a;
}
.btn-success.active, 
.btn-success.focus, 
.btn-success:active,
.btn-success:focus,
.btn-success:hover, 
.open > .dropdown-toggle.btn-success {
	background-color: #678c70;
	border-color: #678c70;
}

#pages-add {
	margin-top: 10px;
	width: 250px;
}

select, input[type="file"] {
    line-height: 0;
    padding-left: 10px;
    height: auto;
}

.pages.col-md-3 {
    padding-left: 0;
}

.page-cat {
	padding-top: 15px;
}

.jumbotron {
    background-color: #fff;
    border: 3px solid #73b2e3;
    padding: 40px;
}

.controls-group {
	padding-top: 25px;
}

.alert-info {
	background-image: none;
}

/* Loading message check-in */

#geoplaceholder .geospinner {
  margin: 20px auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}

.geospinner > div {
  background-color: #4c93cb;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.geospinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.geospinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.geospinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.geospinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
.label-success {
    background-color: #70997a;
}

/*.navbar-fixed-top .navbar-collapse {
    max-height: none;
}*/

.idno-entry.row {
	margin-left:0px;
	margin-right:0px;
}
@media (max-width: 1083px) {
	.namebadge-profile { 
		text-align:center;		
	}
}
.dropdown-menu {
	border-radius: 0px;
	border-top: none;
}
.user-tbl img {
	 width: 40px;
	 height:40px;
	 border-radius: 50%; 
	 float: left; 
	 margin-right: 15px; 
	 margin-left: 0px; 
	 margin-top: 3px; 
	 margin-bottom: 16px;
}
p.user-tbl {
	margin-top: 15px;
}
.annotate-icon {
	margin-left: 15px;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
	background-color: transparent;
}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
	background-color: transparent;
}
.form-control.mentionable {
	margin-bottom: 1em;
}
.edit-page-actions {
	text-align: right;
}
.page-action {
	padding-left: 2em;
}
.page-action [class^="fa fa-"], .page-action [class*=" fa fa-"] {
    width: 1.5em;
    text-align: left;
}







