/**
 * Known simple stylesheet
 */
html {
  height: 100%;
  min-height: 100%;
}

body {
  min-height: 100%;
}

body.page-begin {
  background: none;
  background-size: cover;
  height: 100%;
  overflow: auto;
}

/** Testing whitespace problem in iOS **/
/* body.page-begin-connect,
body.page-begin-profile,
body.page-begin-register {
    background: url(../gfx/onboarding/sky.jpg) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100%;
    overflow: auto;
} */
@media only screen and (max-width: 500px) {
  #bg {
    height: 150%;
    left: -25%;
    position: fixed;
    top: -25%;
    width: 150%;
  }

  #bg img {
    bottom: 0;
    left: 0;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    right: 0;
    top: 0;
  }
}
@media only screen and (min-width: 501px) {
  #bg {
    display: none;
  }
}
#feedback-page {
  text-align: center;
}

#form-main {
  float: left;
  padding-top: 20px;
  width: 100%;
}

#form-div {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  float: left;
  left: 50%;
  margin-left: -310px;
  margin-top: 20px;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  position: absolute;
  width: 550px;
}

#form-reg {
  border-radius: 10px;
  border-radius: 10px;
  border-radius: 10px;
  float: left;
  left: 50%;
  margin-left: -310px;
  margin-top: 20px;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  position: absolute;
  width: 550px;
}

.feedback-input {
  background-color: #fbfbfb;
  border: 3px solid rgba(115, 178, 227, 0.4);
  border-radius: 5px;
  box-sizing: border-box;
  color: #777;
  font-family: "Pontano Sans", Verdana, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 5px;
  margin-top: 2px;
  padding: 10px 10px 10px 54px;
  width: 100%;
}

.feedback-input:focus {
  background: #fff;
  border: 3px solid #4c93cb;
  box-shadow: 0;
  color: #4c93cb;
  outline: none;
  padding: 10px 10px 10px 54px;
}

.website-input {
  background-color: #fbfbfb;
  border: 3px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  box-sizing: border-box;
  color: #333;
  font-family: "Pontano Sans", Verdana, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 5px;
  margin-top: 2px;
  padding: 10px;
  width: 100%;
}

.website-input:focus {
  background: #fff;
  border: 3px solid #4c93cb;
  box-shadow: 0;
  color: #4c93cb;
  outline: none;
  padding: 10px;
}

.profile-input {
  background-color: #fff;
  border: 3px solid rgba(115, 178, 227, 0.4);
  border-radius: 5px;
  box-sizing: border-box;
  color: #777;
  font-family: "Pontano Sans", Verdana, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 5px;
  margin-top: 2px;
  padding: 10px;
  width: 100%;
}

.profile-input:focus {
  background: #fff;
  border: 3px solid #4c93cb;
  box-shadow: 0;
  color: #4c93cb;
  outline: none;
  padding: 10px;
}

.h-register {
  text-align: center;
}

h1 {
  color: #333;
  font-family: "Open Sans", sans-serif;
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 5px;
  margin-top: 25px;
  padding-bottom: 1px;
  padding-top: 1px;
}

.p-register {
  font-size: 1.5em;
  margin-bottom: 20px;
  margin-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

p {
  color: #333;
  font-family: "Pontano Sans", Verdana, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-bottom: 1px;
  padding-top: 1px;
}

.website {
  margin-bottom: 30px;
  margin-top: 0;
}

.focused {
  border: #30aed6 solid 3px;
  color: #30aed6;
}

.submit {
  padding-top: 15px;
  text-align: center;
  width: 100%;
}

.btn-reg {
  appearance: none;
  background-color: #73b2e3;
  background-image: none;
  border: 2px solid #73b2e3;
  box-shadow: 0 5px #357ebd;
  color: #fff;
  font-family: "Pontano Sans", Verdana, Helvetica, sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 10px;
  text-shadow: none;
  width: 100%;
}

.btn-reg:hover,
.btn-reg:focus {
  background-color: #4c93cb;
  border: 2px solid #4c93cb;
  color: #fff;
}

.btn-login {
  appearance: none;
  background-color: #ddd;
  background-image: none;
  border: 2px solid #ddd;
  box-shadow: 0 5px #535353;
  color: #333;
  font-family: "Pontano Sans", Verdana, Helvetica, sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 10px;
  text-shadow: none;
  width: 100%;
}

.btn-login:hover,
.btn-login:focus {
  background-color: #c5c5c5;
  border: 2px solid #c5c5c5;
  color: #535353;
}

/* .btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-repeat: repeat-x;
    border-image: none;
    border-radius: 7px;
    cursor: pointer;
    display: inline-block;
    line-height: 24px;
    padding: 15px 65px;
    text-align: center;
    -webkit-appearance: none;
} */
@media only screen and (max-width: 580px) {
  #form-div {
    left: 3%;
    margin-left: 0;
    margin-right: 3%;
    padding-left: 3%;
    padding-right: 3%;
    width: 88%;
  }

  #form-reg {
    left: 3%;
    margin-left: 0;
    margin-right: 3%;
    padding-left: 3%;
    padding-right: 3%;
    width: 88%;
  }
}
#name {
  background-color: #fff;
  background-image: none;
}

#username {
  background-image: url("../gfx/onboarding/user.png");
  background-position: 11px 7px;
  background-repeat: no-repeat;
  background-size: 24px;
}

#username:focus {
  background-image: url("../gfx/onboarding/user-g.png");
  background-position: 11px 7px;
  background-repeat: no-repeat;
  background-size: 24px;
}

#website {
  background-image: none;
  background-position: 11px 7px;
  background-repeat: no-repeat;
  background-size: 24px;
}

#website:focus,
#website:hover {
  background-color: #f8f8f8;
  background-image: none;
  background-position: 11px 7px;
  background-repeat: no-repeat;
  background-size: 24px;
}

#password {
  background-image: url("../gfx/onboarding/lock.png");
  background-position: 11px 6px;
  background-repeat: no-repeat;
  background-size: 20px;
}

#password:focus {
  background-image: url("../gfx/onboarding/lock-g.png");
  background-position: 11px 6px;
  background-repeat: no-repeat;
  background-size: 20px;
}

#email {
  background-image: url("../gfx/onboarding/mail.png");
  background-position: 11px 11px;
  background-repeat: no-repeat;
  background-size: 24px;
}

#email:focus {
  background-image: url("../gfx/onboarding/mail-g.png");
  background-position: 11px 11px;
  background-repeat: no-repeat;
  background-size: 24px;
}

textarea {
  height: 100px;
  line-height: 150%;
  resize: vertical;
  width: 100%;
}

input:hover,
input:focus {
  background-color: #fff;
}

textarea:hover,
textarea:focus {
  background-color: #f8f8f8;
  color: #c5c5c5;
}

#button-profile {
  background-color: #73b2e3;
  border: 4px solid #fbfbfb;
  color: #fff;
  cursor: pointer;
  float: left;
  font-family: "Pontano Sans", Verdana, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: 800;
  margin-top: -4px;
  padding-bottom: 18px;
  padding-top: 18px;
  transition: all 0.3s ease 0s;
  width: 100%;
}

#button-profile:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #4c93cb;
}

.submit:hover {
  color: #3498db;
}

.ease {
  background-color: #fbfbfb;
  height: 78px;
  transition: 0.3s ease;
  width: 0;
}

.submit:hover .ease {
  background-color: #fff;
  width: 100%;
}

h2 {
  color: #333;
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-bottom: 1px;
  padding-top: 1px;
}

h3 {
  color: #333;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 5px;
  margin-top: 25px;
  padding-bottom: 1px;
  padding-top: 1px;
}

.profile-pic {
  text-align: center;
}

.icon-container {
  border-radius: 10%;
}

.upload {
  padding-top: 10px;
  text-align: center;
}

.camera {
  background-color: #ddd;
  background-image: url("../gfx/onboarding/camera.png");
  background-position: 15px 10px;
  background-repeat: no-repeat;
  background-size: 24px auto;
  border-bottom-color: #ddd;
  border-radius: 4px;
  border-style: none;
  border-width: 1px;
  box-shadow: none;
  color: #535353;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  padding: 15px 15px 10px 50px;
}

a {
  background-position: 5px 3px;
  color: #73b2e3;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #4c93cb;
  text-decoration: underline;
}

.social {
  text-align: left;
}

.connect {
  background-position: 15px 9px;
  background-repeat: no-repeat;
  background-size: 34px auto;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  box-shadow: none;
  color: #fff;
  font-family: Helvetica, sans-serif;
  font-size: 24px;
  margin-bottom: 5px;
  margin-top: 15px;
  padding: 15px 15px 10px 75px;
  text-align: left;
  width: 100%;
}

.connect:hover {
  text-decoration: none !important;
}

a.connect {
  box-sizing: border-box;
  display: inline-block;
}

.fb {
  background-color: #3b5998;
  background-image: url("../gfx/onboarding/facebook.png");
  border-color: #3b5998;
}

.fb:hover,
.fb:focus {
  background-color: #8b9dc3;
  background-image: url("../gfx/onboarding/facebook.png");
  border-color: #8b9dc3;
  color: #fff;
}

.tw {
  background-color: #55acee;
  background-image: url("../gfx/onboarding/twitter.png");
  border-color: #55acee;
}

.tw:hover,
.tw:focus {
  background-color: #66757f;
  background-image: url("../gfx/onboarding/twitter.png");
  border-color: #66757f;
  color: #fff;
}

.fl {
  background-color: #0063dc;
  background-image: url("../gfx/onboarding/flickr.png");
  border-color: #0063dc;
}

.fl:hover,
.fl:focus {
  background-color: #ff0084;
  background-image: url("../gfx/onboarding/flickr.png");
  border-color: #ff0084;
  color: #fff;
}

.fsqr {
  background-color: #40b3df;
  background-image: url("../gfx/onboarding/foursquare.png");
  border-color: #40b3df;
}

.fsqr:hover,
.fsqr:focus {
  background-color: #17649a;
  background-image: url("../gfx/onboarding/foursquare.png");
  border-color: #17649a;
  color: #fff;
}

.scld {
  background-color: #f80;
  background-image: url("../gfx/onboarding/soundcloud.png");
  border-color: #f80;
}

.scld:hover,
.scld:focus {
  background-color: #f30;
  background-image: url("../gfx/onboarding/soundcloud.png");
  border-color: #f30;
  color: #fff;
}

.connected {
  background-color: #bbb;
  border: #bbb solid 1px;
}

.connected:hover,
.connected:focus {
  background-color: #bbb;
}

.control-label {
  color: #666;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.next-bar {
  margin-bottom: 0;
  margin-top: 15px;
  text-align: center;
}

.btn-continue {
  -webkit-appearance: none;
  background-color: #fff;
  background-image: none;
  border: 3px solid #357ebd;
  color: #357ebd;
  font-family: "Pontano Sans", Verdana, Helvetica, sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-top: 10px;
  text-shadow: none;
  width: 40%;
}

.btn-continue:hover,
.btn-continue:focus {
  background-color: #4c93cb;
  border: 2px solid #4c93cb;
  color: #fff;
}

.btn-skip {
  -webkit-appearance: none;
  background-color: #fff;
  background-image: none;
  border: 3px solid #535353;
  color: #535353;
  font-family: "Pontano Sans", Verdana, Helvetica, sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-top: 10px;
  text-shadow: none;
  width: 40%;
}

.btn-skip:hover,
.btn-skip:focus {
  background-color: #c5c5c5;
  border: 2px solid #c5c5c5;
  color: #535353;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img {
  display: block;
  height: auto;
  max-width: 100%;
}

.btn-file {
  -webkit-appearance: none;
  overflow: hidden;
  position: relative;
}

.btn-file input[type=file] {
  background: #fff;
  cursor: pointer;
  display: block;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  outline: none;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

.btn-file:hover {
  background-color: #eaeaea;
  background-image: url("../gfx/onboarding/camera-g.png");
  color: #c5c5c5;
}

.alerts {
  background-color: #fff1ba;
  border-radius: 7px;
  /**    background-color: rgba(0,0,0,0.3); **/
  padding: 10px;
}

.alerts .alert p {
  color: #666;
  font-size: 1em;
  margin-left: 20px;
  margin-right: 20px;
}

.signin a {
  color: #4c93cb;
  font-size: 14px;
}

.signin a:hover {
  color: #357ebd;
  text-decoration: underline;
}

.social-connect {
  color: #333;
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-bottom: 1px;
  padding-top: 1px;
}

/* New Stuff */
.btn-primary {
  background-color: #73b2e3;
  border-color: none;
  color: #fff;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: #4c93cb;
  border-color: #4c93cb;
  color: #fff;
}

.btn-lg {
  border-radius: 6px;
  font-size: 18px;
  line-height: 1.33;
  padding: 10px 16px;
}

/* *, *:before, *:after {
    box-sizing: border-box;
}
*/
.btn {
  background-image: none;
  border: 1px solid transparent;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  font-size: 24px;
  font-weight: normal;
  line-height: 2;
  margin-bottom: 0;
  padding: 6px 52px;
  text-align: center;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.img-responsive {
  height: auto;
  max-width: 100%;
  /*	display: block; */
}

p a {
  font-size: 18px;
}

.row::before,
.row::after {
  content: "";
  display: table;
  line-height: 0;
}

.row::after {
  clear: both;
}

.row {
  margin-left: 0;
  text-align: center;
  width: 100%;
}

/* Experiment */
.scoot {
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  width: 100%;
}

/* centered columns styles */
.row-centered {
  text-align: center;
}

.col-centered {
  display: inline-block;
  float: none;
  /* inline-block space fix */
  margin-right: -4px;
  /* reset the text-align */
  text-align: left;
}

.col-fixed {
  /* custom width */
  width: 320px;
}

.col-min {
  /* custom min width */
  min-width: 320px;
}

.col-max {
  /* custom max width */
  max-width: 320px;
}

/* visual styles */
.container {
  max-width: 99%;
}

/* Installer */
a.btn:hover {
  text-decoration: none;
}

.components {
  margin-top: 3em;
}

.component {
  border: 0;
  border-top: #eee dashed 1px;
  font-size: 0.9em;
  margin-bottom: 1em;
  padding: 0.6em;
}

.component h3 {
  font-size: 1.2em;
  font-weight: lighter;
  margin: 0;
}

.component p {
  font-size: 0.9em;
  font-weight: lighter;
  margin: 0;
}

.success {
  background-color: #e0ffe0;
}

.failure {
  background-color: #fac9b9;
}

.warning {
  background-color: #faf4b9;
}

.explainer {
  margin-top: 2em;
}

.page-bottom {
  margin-bottom: 10em;
}

.settings-group {
  margin-top: 4em;
}

textarea.installation {
  color: #333;
  height: 25em;
  margin-top: 3em;
}

textarea.installation:hover,
textarea.installation:focus {
  background-color: #fff !important;
  color: #333;
}