/*
 IMPORTANT:
 This file isn't loaded directly, for changes to show you must generate a minified
 version using Grunt
*/
body {
  background: #fff;
  color: #373737;
  font-weight: 400 !important;
  font-family: 'proxima-nova','Helvetica','Avenir','Arial',sans-serif;
  margin-bottom: 2em; }

a {
  color: #4c93cb; }

a:hover, a:focus {
  color: #333333;
  text-decoration: none; }

p a:hover, p a:focus {
  color: #8cbf99; }

.profile h1 a {
  color: #000000;
  font-weight: 600; }

h2 {
  line-height: 1.4em; }

h2 a {
  font-family: "Proxima Nova","Open Sans","Gill Sans MT","Gill Sans",Corbel,Arial,sans-serif;
  font-weight: 600;
  color: #000000; }

.welcome {
  font-size: 36px;
  font-weight: 600; }

h1, h2, h3, h4, h5, h6 {
  color: #000000; }

.idno-content {
  box-shadow: none;
  border: none; }

.idno-content p {
  font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
  color: #494949; }

.idno-body .photo-title a, .idno-posts h2.photo-title {
  font-size: 32px;
  margin: 0;
  padding: 0; }

.idno-body .idno-bookmark a, .idno-posts h2.idno-bookmark {
  font-size: 32px;
  margin: 0;
  padding: 0; }

h2.idno-bookmark a {
  color: #000000; }

h2.idno-bookmark a:hover, h2.idno-bookmark a:focus {
  color: #333333; }

h2.p-name a {
  color: #000000; }

h2.p-name a:hover, h2.p-name a:focus {
  color: #666666; }

h2.p-name {
  margin-bottom: 0.2em !important; }

h2.photo-title a {
  color: #000000; }

h2.photo-title a:hover, h2.photo-title a:focus {
  color: #333333; }

.idno-body h-geo a, .idno-posts h2.h-geo {
  font-size: 32px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-family: "Proxima Nova","Open Sans","Gill Sans MT","Gill Sans",Corbel,Arial,sans-serif;
  line-height: 1.1em; }

h2.p-geo a {
  color: #000000; }

h2.p-geo a:hover, h2.p-geo a:focus {
  color: #333333; }

.idno-entry h2 {
  font-family: "Proxima Nova","Open Sans","Gill Sans MT","Gill Sans",Corbel,Arial,sans-serif;
  font-weight: 600;
  color: #000000; }

.idno-object .idno-body {
  font-size: 18px;
  padding-top: 0; }

.idno-object .footer p {
  font-family: 'proxima-nova','Helvetica','Avenir','Arial',sans-serif; }

.idno-object .footer {
  border-top: 2px solid #999999;
  clear: both;
  font-size: 0.85em;
  padding-top: 5px; }

li {
  line-height: 1.5em !important;
  color: #494949;
  font-family: "Calisto MT","Bookman Old Style",Bookman,"Goudy Old Style",Garamond,"Hoefler Text","Bitstream Charter",Georgia,serif; }

.idno-entry h2 {
  font-family: "Proxima Nova","Open Sans","Gill Sans MT","Gill Sans",Corbel,Arial,sans-serif;
  font-weight: 600;
  color: #000000;
  font-size: 32px;
  margin: 0;
  padding: 0; }

.idno-body blockquote {
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 0.9em;
  color: #444; }

.idno-body blockquote p {
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 0.9em;
  color: #888; }

.idno-statusupdates .idno-body p {
  font-size: 22px;
  margin: 0;
  padding: 0; }

.navbar-inverse .brand {
  color: #333333; }

.navbar-inverse .brand:hover, .navbar-inverse .nav > li > a:hover, .navbar-inverse .brand:focus, .navbar-inverse .nav > li > a:focus {
  color: #666666; }

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
  text-shadow: none; }

.navbar-inverse .nav li.dropdown > a:hover .caret, .navbar-inverse .nav li.dropdown > a:focus .caret {
  border-bottom-color: #000000;
  border-top-color: #000000; }

.navbar .nav > li {
  /*float: left;*/
  font-family: "Proxima Nova","Open Sans","Gill Sans MT","Gill Sans",Corbel,Arial,sans-serif; }

.dropdown-menu li {
  font-family: "Proxima Nova","Open Sans","Gill Sans MT","Gill Sans",Corbel,Arial,sans-serif; }

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: #fff;
  color: #000; }

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle .caret, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle .caret, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-bottom-color: #000;
  border-top-color: #000; }

.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
  border-bottom-color: #999999;
  border-top-color: #999999; }

a.contentTypeButton {
  color: #000000; }

a.contentTypeButton:hover {
  background-color: #FFFFFF;
  color: #8cbf99; }

a.contentTypeButton {
  padding-bottom: 20px;
  padding-top: 20px;
  border-radius: 100%;
  border: 3px solid #000;
  margin-bottom: 10px; }

a.contentTypeButton:hover {
  border: 3px solid #8cbf99; }

span.contentTypeLogo {
  padding-bottom: 2px;
  padding-top: 2px; }

.pager li > a, .pager li > span {
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 15px;
  display: inline-block;
  padding: 5px 14px;
  color: #000000; }

.pager a {
  font-weight: 600;
  color: #000; }

.pager li > a:hover, .pager li > a:focus {
  background-color: #73b2e3;
  border: 2px solid #73b2e3;
  color: #ffffff; }

.pager a:hover, .pager a:focus {
  font-weight: 600;
  color: #FFF; }

.leaflet-container {
  margin: 0 0 10px; }

blockquote {
  border-left: 5px solid #8cbf99;
  padding: 0 0 0 15px; }

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
  background-image: none;
  background-color: #73b2e3; }

.pager li {
  font-family: "Proxima Nova","Open Sans","Gill Sans MT","Gill Sans",Corbel,Arial,sans-serif; }

.blank-footer {
  width: 100%;
  margin: auto;
  padding-top: 50px; }

.blank-footer p {
  text-align: center; }

.pager ul {
  margin: 0 0 10px; }

.button-bar {
  text-align: right;
  margin-left: 0px; }

.btn-primary {
  background-color: #FFFFFF;
  box-shadow: none;
  background-image: none;
  color: #000000;
  text-shadow: none;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000000;
  border: 2px solid #000000; }

.btn-primary:hover, btn-primary:active, .btn-primary:focus {
  background-color: #73b2e3;
  border-color: #73b2e3;
  box-shadow: none;
  background-image: none;
  color: #FFFFFF;
  text-shadow: none; }

label, input, button, select, textarea {
  font-weight: 500; }

.btn-cancel {
  background-color: #FFFFFF;
  border: 2px solid #777777;
  box-shadow: none;
  background-image: none;
  text-shadow: none;
  margin: 10px;
  color: #777777; }

.btn-cancel:hover, .btn-cancel:active, .btn-cancel:focus {
  background-color: #FFFFFF;
  border-color: #dddddd;
  box-shadow: none;
  background-image: none;
  color: #dddddd;
  text-shadow: none; }

.btn-save {
  background-color: #FFFFFF;
  box-shadow: none;
  background-image: none;
  color: #000000;
  text-shadow: none;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000000;
  border: 2px solid #000000; }

.btn-save:hover, .btn-save:active, .btn-save:focus {
  background-color: #73b2e3;
  border-color: #73b2e3;
  box-shadow: none;
  background-image: none;
  color: #FFFFFF;
  text-shadow: none; }

.btn-signin {
  background-color: #FFFFFF;
  box-shadow: none;
  background-image: none;
  color: #000000;
  text-shadow: none;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000000;
  border: 2px solid #000000; }

.btn-signin:hover, .btn-signin:active, .btn-signin:focus {
  background-color: #73b2e3;
  border-color: #73b2e3;
  box-shadow: none;
  background-image: none;
  color: #FFFFFF;
  text-shadow: none; }

.note {
  margin-top: 10px; }

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  box-shadow: none; }

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  border-radius: 0px; }

.well {
  margin-top: 5px;
  background-color: #FFFFFF;
  border: none;
  box-shadow: none;
  padding-left: 0;
  padding-right: 0;
  padding-top: 20px; }

.hero-unit {
  background-color: #FFFFFF;
  padding: 30px; }

.idno-object .permalink a:hover {
  color: #999;
  margin-right: 0.25em;
  text-decoration: underline; }

/* Added for B3 */
.navbar-fixed-top {
  background-color: #ffffff;
  background-image: none;
  border-bottom: 3px solid #252525;
  opacity: 1;
  border-radius: 0px; }

ul, ol {
  margin: 0 0 10px 0;
  /*   padding: 0;*/ }

.navbar-default .navbar-brand {
  color: #000;
  font-size: 24px;
  font-weight: 600; }

.navbar-form .form-control.search-query {
  background-color: #fff;
  border-color: #111111;
  box-shadow: none;
  color: #333;
  transition: none 0s ease 0s;
  border-radius: 15px; }

a.contentTypeButton {
  width: 90px; }

.navbar-nav > li > .dropdown-menu, .navbar-right .dropdown-menu {
  margin-top: 8px; }
