.idno_pages_session_login { 
	background: url(../img/maurer.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: none;
	background-color: none;
}

.idno_pages_account_register {
	background: url(../img/matisse.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: none;
	background-color: none;
}

.idno_pages_account_register h4, .idno_pages_account_register h5, .idno_pages_account_register h6 {
	color: #223d96;
	font-weight: bolder;
}

.idno_pages_account_register h1, .idno_pages_account_register h2, .idno_pages_account_register h3 {
	color: #223d96;
	font-weight: bold;
}

.idno_pages_account_register h4 {
	padding-bottom: 20px;
}

.idno_pages_session_login .text-center {
	color: #223d96;
}

body {
    background-color: #fff;
    color: #333;
    font-weight: 400 !important;
    font-family: "Open Sans","Corbel","Arial",sans-serif;
}

a.contentTypeButton {
    color: #643196;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 100%;
    border: 3px solid #643196;
    margin-bottom: 10px;
    width: 90px;
}   

a.contentTypeButton:hover {
	background: url(../img/painting.jpg) !important;
	color:#223d96;
	border: 3px solid #223d96;
} 

.navbar-brand {
    color: #FFFFFF;
    font-family: "Open Sans","Corbel","Arial",sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 8px;
    line-height: 1em;
    text-transform: uppercase;
}

@media (max-width: 600px) {
	.navbar-brand {
		font-size: 15px;
		margin-top: 3px;
	}
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: rgba(255, 255, 255, 0.7);
}


.navbar.navbar-default {
    background-color: #223d96;
    background-image: none;
    background-repeat: repeat-x;
    border-color: #ebe91a;
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
    border-width: 0 0 3px;
}

.navbar.navbar-default .nav > li > a {
    color: #ffa851;
    text-shadow: none;
    margin-top: 0px; 
}

.navbar.navbar-default .nav > li > a:hover, .navbar.navbar-default .nav >li > a:focus {
	color: #fff;
}

.navbar.navbar-default .navbar-search .search-query {
    background-color: #fff;
    border-color: #223d96;
    box-shadow: none;
    color: #333;
    transition: none 0s ease 0s ;
}

.navbar.navbar-default .nav li.dropdown.open > .dropdown-toggle, .navbar.navbar-default .nav li.dropdown.active > .dropdown-toggle, .navbar.navbar-default .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: transparent;
    color: #FFF;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
	background-image: none;
	background-color: #653195;
}

.navbar.navbar-default .nav li.dropdown > a:hover .caret, .navbar.navbar-default .nav li.dropdown > a:focus .caret {
	border-bottom-color: #fff;
	border-top-color: #fff;
}

.navbar.navbar-default .nav li.dropdown.open > .dropdown-toggle .caret, .navbar.navbar-default .nav li.dropdown.active > .dropdown-toggle .caret, .navbar.navbar-default .nav li.dropdown.open.active > .dropdown-toggle .caret {
    border-bottom-color: #FFF;
    border-top-color: #FFF;
}

.navbar.navbar-default .nav li.dropdown > .dropdown-toggle .caret {
    border-bottom-color: #ffa851;
    border-top-color: #ffa851;
}

.idno-content p {
	font-family: "Open Sans","Corbel","Arial",sans-serif;
	color: #363636;
}

.idno-statusupdates .idno-body p {
    font-size: 18px;
    margin: 0; padding: 0;
    font-weight: 400;
}

.btn-primary {
	background-color: #FFFFFF;
	box-shadow: none;
	background-image: none;
	color: #653195;
	text-shadow: none;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 2px solid #653195;
}

.btn-primary:hover, btn-primary:active, .btn-primary:focus {
	background-color: #fc9320;
	border-color: #fc9320;
	box-shadow: none;
	background-image: none;
	color: #ffffff;
	text-shadow: none;
}

.buttonBar {
    margin-bottom: 0.5em;
}

/*.row:before {
	padding-top: 20px;
}
*/

.blank-footer {
	width: 100%;
	margin: auto;
	padding-top: 50px;
}

.blank-footer p {
	text-align: center;
}

.idno_pages_session_login .blank-footer p {
	color: #FFF;
}

.idno_pages_session_login p a:hover, p a:focus {
	color: #2366e1;
}

.idno_pages_session_login a {
	color: #653195;
}

.idno_pages_account_register .blank-footer p {
	color: #FFF;
}

.idno_pages_account_register p a:hover, p a:focus {
	color: #653195;
}

.idno_pages_account_register a {
	color: #2366e1;
}

p a:hover, p a:focus {
	color: #653195;
}

a {
    color: #223d96;
}

.navbar.navbar-default .btn-navbar {
    background-color: #2366e1;
    background-image: none;
    color: #ffffff;
    text-shadow: none;
}

.navbar.navbar-default .nav-collapse .navbar-form, .navbar.navbar-default .nav-collapse .navbar-search {
    border-bottom-color: #fff;
    border-top-color: #fff;
}

.navbar.navbar-default .nav-collapse .nav > li > a, 
.navbar.navbar-default .nav-collapse .dropdown-menu a {
    color: #f69625;
}

.navbar.navbar-default .nav-collapse .nav > li > a:hover, 
.navbar.navbar-default .nav-collpase .nav > li > a:focus,
.navbar.navbar-default .nav-collapse .dropdown-menu a:hover, 
.navbar.navbar-default .nav-collapse .dropdown-menu a:focus {
	background-color: #223d96;
	color: rgba(255, 255, 255, 1.0);
	
}

.nav-collapse .nav > li > a, 
.nav-collapse .dropdown-menu a {
    font-weight: normal;
}


.profile h1 a {
	color: #000000;
	font-weight: 600;
	font-family: "Open Sans","Corbel","Arial",sans-serif;
	text-transform: uppercase;
}

.alert-info {
	margin-top: 30px;
}

.icon-container {
	border-radius: 5px;
}

.profile .icon-container {
	border-radius: 8px;
}

.beforecontent {
    margin-bottom: 1em;
}

.profile .highlightedText {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.6em;
}

/* Everything below is from Blank CSS */


a:hover, a:focus {
	color: #333333;
	text-decoration: none;
}

h2 {
    line-height: 1.1em;
/*    margin-bottom: 0.8em !important; */
}

h2 a {
	font-family: "Open Sans","Corbel","Arial",sans-serif;
	font-weight: 600;
	color: #000000;
}

.welcome {
	font-size: 36px;
	font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
	color: #333333;
}

.idno-content {
    box-shadow: none;
    border: none;
}

.idno-body .photo-title a, .idno-posts h2. photo-title {
	font-size: 1.8em;
	margin:0; padding: 0;	
}

.idno-body .p-bookmark a, .idno-posts h5.p-bookmark {
	font-size: 24px;
	margin: 0; padding: 0;
}

h5.p-bookmark a {
	color: #000000;
}

h5.p-bookmark a:hover, h5.p-bookmark a:focus {
	color: #333333;
}

.idno-body .h-geo a, .idno-posts h5.h-geo {
    font-size: 32px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-family: "Open Sans","Corbel","Arial",sans-serif;
    line-height: 1.1em;
}

h5.h-geo a {
    color: #000000;
}

h5.h-geo a:hover, h5.h-geo a:focus {
	color: #333333;
}

.idno-entry h2 {
	font-family: "Open Sans","Corbel","Arial",sans-serif;
	font-weight: 600;
	color: #000000;
}

.idno-object .idno-body {
	font-size: 18px;
	padding-top: 0;
}

.idno-object .footer p {
	font-family: "Open Sans","Corbel","Arial",sans-serif;
}

.idno-object .footer {
    border-top: 2px solid #653195;
    clear: both;
    font-size: 0.85em;
    padding-top: 5px;
}

li {
    line-height: 1.5em !important;
	color: #494949;
	font-family: "Open Sans","Corbel","Arial",sans-serif;
}

.idno-entry h2 {
	font-family: "Open Sans","Corbel","Arial",sans-serif;
	font-weight: 600;
	color: #333333;
    font-size: 32px;
    margin: 0; padding: 0;
}
.idno-body blockquote {
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 0.9em;
    color: #444;
}

.idno-body blockquote p {
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 0.9em;
    color: #888;
}

.navbar .nav > li {
    font-family: "Open Sans","Corbel","Arial",sans-serif;
}

.dropdown-menu li {
    font-family: "Open Sans","Corbel","Arial",sans-serif;
}

span.contentTypeLogo {
    padding-bottom: 2px;
    padding-top: 2px;
}

.pager li > a, .pager li > span {
    background-color: #fff;
    border: 2px solid #653195;
    border-radius: 15px;
    display: inline-block;
    padding: 5px 14px;
}

.pager li > a, .pager li > span {
    color: #653195;
}

.pager a {
	font-weight: 600;
	color: #000;
}

.pager li > a:hover, .pager li > a:focus {
	background-color: #fc9320;
	border: 2px solid #fc9320;
    color: #ffffff;
}

.pager a:hover, .pager a:focus {
	font-weight: 600;
	color: #FFF;
}

.leaflet-container {
    margin: 0 0 10px;
}

/*ul, ol {
    margin: 0 0 10px 35px;
    padding: 0;
}   */     

blockquote {
    border-left: 5px solid #673095;
    padding: 0 0 0 15px;
}

.pager li {
	font-family: "Open Sans","Corbel","Arial",sans-serif;
}

.pager ul {
	 margin: 0 0 10px;
}

.button-bar {
	text-align: right;
	margin-left: 0px;
}

label, input, button, select, textarea {
    font-weight: 500;
}

.btn-cancel {
	background-color: #FFFFFF;
	border: 2px solid #777777;
	box-shadow: none;
	background-image: none;
	text-shadow: none;
	margin: 10px;
	color: #777777;
}

.btn-cancel:hover, .btn-cancel:active, .btn-cancel:focus {
	background-color: #FFFFFF;
	border-color: #dddddd;
	box-shadow: none;
	background-image: none;
	color: #dddddd;
	text-shadow: none;
}

.btn-save {
	background-color: #FFFFFF;
	box-shadow: none;
	background-image: none;
	color: #653195;
	text-shadow: none;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 2px solid #653195; 
}

.btn-save:hover, .btn-save:active, .btn-save:focus {
	background-color: #ff9226;
	border-color: #ff9226;
	box-shadow: none;
	background-image: none;
	color: #FFFFFF;
	text-shadow: none;
}

.btn-signin {
	background-color: #FFFFFF;
	box-shadow: none;
	background-image: none;
	color: #223d96;
	text-shadow: none;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 2px solid #223d96; 	
}

.btn-signin:hover, .btn-signin:active, .btn-signin:focus {
	background-color: #fd921e;
	border-color: #fd921e;
	box-shadow: none;
	background-image: none;
	color: #FFFFFF;
	text-shadow: none;
}

.note {
	margin-top: 10px;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	box-shadow: none;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	border-radius: 0px;
}

.well {
	margin-top: 5px;
	background-color: #FFFFFF;
	border: 3px solid #223d96;
	box-shadow: none;
	padding-left: 10px;
	padding-right: 0;
	padding-top: 20px;
}

.hero-unit {
	background-color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-right: 30px;
    border: 3px solid #223d96;
}

.idno-object .permalink a:hover {
    color: #999;
    margin-right: 0.25em;
    text-decoration: underline;
}

.btn-reg {
    background-color: #ffffff;
    background-image: none;
    border: 2px solid #223d96;
    box-shadow: none;
    color: #223d96;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px 30px;
    text-shadow: none;
}

.btn-reg:hover, btn-reg:active, .btn-reg:focus {
    background-color: #fd921e;
    background-image: none;
    border-color: #fd921e;
    box-shadow: none;
    color: #fff;
    text-shadow: none;
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
    box-shadow: none;
}

/* B3 Updates */

.navbar-brand, .navbar-nav > li > a {
    text-shadow: none;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar .nav .dropdown-toggle .caret {
    margin-top: 0;
}

.navbar.navbar-default .nav > li > a {
	text-transform: uppercase;
	color: #ffa851;
    /*float: right; */
    font-family: "Open Sans","Corbel","Arial",sans-serif;
    font-size: 0.85em; 
    font-style: normal;
    font-weight: 400;
    line-height: 2em;
    margin-right: 0; 
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .open > a {
    background-image: none;
    background-repeat: repeat-x;
    box-shadow: none;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: transparent;
    border: none;
}

.navbar-nav > li > .nav > li > a {
    color: #fff;
    /*padding-bottom: 15px;
    padding-top: 15px;*/
}

ul > li > .nav {
	padding-left: 0px;
	margin-left: 0px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #ccc;
}
.dropdown-menu {
	background-color: #223d96;
	border: none;
	margin: 0 0 0;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
	text-transform: uppercase;
	font-size: 0.85em;
}
.navbar-form .form-control.search-query {
    border-color: #223d96;
}
.btn-group.open .dropdown-toggle {
    box-shadow: none;
}
.dropdown-menu > li > a {
    color: #fff;
}
.navbar-nav > li > .dropdown-menu, .navbar-right .dropdown-menu {
    margin-top: 0px;
}



