
.DS_Store
.idea/*
Idno/.idea/.name

.vagrant

*.iml

/nbproject/private/nbproject/project.xml
/nbproject/project.properties
/nbproject/private/
/.htaccess
/doc/output/
/Uploads/*

/.DS_Store
/*/.DS_Store

config.ini
*.json
tests/_output/*
*-ori.*

IdnoPlugins/Facebook/
IdnoPlugins/Flickr/
IdnoPlugins/Foursquare/
IdnoPlugins/SoundCloud/
IdnoPlugins/Twitter/
IdnoPlugins/LinkedIn/
IdnoPlugins/GooglePlus/
IdnoPlugins/Google/
IdnoPlugins/Markdown/
IdnoPlugins/ApplyToJoin/
IdnoPlugins/Groups/
IdnoPlugins/LTI/
IdnoPlugins/GenericFile/
IdnoPlugins/KQED/
IdnoPlugins/CommunityClientAPI/

Themes/Ansel/
Themes/KQED/
Themes/Paul/

error_log

configbackup.ini

# Allow these previously excluded files
!/external/fontello/config.json
!/Uploads/readme.txt
vendor
