[submodule "external/bonita"]
	path = external/bonita
	url = https://github.com/benwerd/bonita.git
[submodule "external/torophp"]
	path = external/torophp
	url = https://github.com/anandkunal/ToroPHP.git
[submodule "external/Symfony/Component/EventDispatcher"]
	path = external/Symfony/Component/EventDispatcher
	url = git://github.com/symfony/EventDispatcher.git
[submodule "external/Symfony/Component/HttpFoundation"]
	path = external/Symfony/Component/HttpFoundation
	url = git://github.com/symfony/HttpFoundation.git
[submodule "external/password_compat"]
	path = external/password_compat
	url = git://github.com/ircmaxell/password_compat.git
[submodule "external/mention-client"]
	path = external/mention-client
	url = https://github.com/aaronpk/mention-client.git
[submodule "external/Symfony/Component/ClassLoader"]
	path = external/Symfony/Component/ClassLoader
	url = git://github.com/symfony/ClassLoader.git
