.DS_Store
.idea/*
Idno/.idea/.name

.vagrant

*.iml

/nbproject/private/nbproject/project.xml
/nbproject/project.properties
/nbproject/private/
/.htaccess
/doc/output/
/Uploads/*

/.DS_Store
/*/.DS_Store

config.ini
*.json
tests/_output/*
*-ori.*

IdnoPlugins/*
!IdnoPlugins/APITester/
!IdnoPlugins/Bridgy/
!IdnoPlugins/Checkin/
!IdnoPlugins/Comic/
!IdnoPlugins/Comments/
!IdnoPlugins/Convoy/
!IdnoPlugins/Event/
!IdnoPlugins/Firefox/
!IdnoPlugins/FooterJS/
!IdnoPlugins/IndiePub/
!IdnoPlugins/Like/
!IdnoPlugins/Media/
!IdnoPlugins/Photo/
!IdnoPlugins/StaticPages/
!IdnoPlugins/Status/
!IdnoPlugins/Styles/
!IdnoPlugins/Text/
!IdnoPlugins/Webhooks/

Themes/Ansel/
Themes/KQED/
Themes/Paul/

error_log

configbackup.ini

# Allow these previously excluded files
!/external/fontello/config.json
!/Uploads/readme.txt
