
.DS_Store
.idea/*
Idno/.idea/.name

*.iml

/nbproject/private//nbproject/project.xml
/nbproject/project.properties
/nbproject/private/
/.htaccess
/doc/output/
/Uploads/*

/.DS_Store
/*/.DS_Store

config.ini
*.json
tests/_output/*
*-ori.*

IdnoPlugins/Facebook/
IdnoPlugins/Flickr/
IdnoPlugins/Foursquare/
IdnoPlugins/SoundCloud/
IdnoPlugins/Twitter/
IdnoPlugins/LinkedIn/
IdnoPlugins/GooglePlus/
IdnoPlugins/FooterJS/
IdnoPlugins/Google/
IdnoPlugins/IndiePub/
IdnoPlugins/StaticPages/
IdnoPlugins/Markdown/
IdnoPlugins/ApplyToJoin/

error_log

configbackup.ini

# Allow these previously excluded files
!/external/fontello/config.json
!/Uploads/readme.txt