<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule ^\..* - [F]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond $1 !^(index\.php)
    RewriteRule ^(.*)$ /index.php/$1 [L]
</IfModule>
