# Known .htaccess file

<IfModule mod_rewrite.c>
    RewriteEngine on
    #RewriteBase /

    RewriteCond %{ENV:BASE} ^$
    RewriteCond $1::%{REQUEST_URI} ^(.*)::(.*?)\1$
    RewriteRule ^(.*)$ - [ENV=BASE:%2]

    RewriteRule ^js/canary\.js$ %{ENV:BASE}/js/default.js [L]

    # The query string cache trick doesn't really work, so use rewrite rules instead
    RewriteRule ^js/[0-9]+/(.*)$ %{ENV:BASE}/js/$1 [L]    
    RewriteRule ^css/[0-9]+/(.*)$ %{ENV:BASE}/css/$1 [L]    

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ %{ENV:BASE}/index.php?/$1 [L,QSA]
    RewriteRule ^Uploads.* - [F]
</IfModule>
<IfModule mod_php5.c>
    php_value upload_max_filesize 1000M
    php_value post_max_size 1080M
</IfModule>
<Files  ~ "\.dist$">
  Order allow,deny
  Deny from all
</Files>
<Files ~ "known\.php">
  Order allow,deny
  Deny from all
</Files>
<Files  ~ "\.known">
  Order allow,deny
  Deny from all
</Files>
<Files  ~ "\.ini$">
  Order allow,deny
  Deny from all
</Files>
<Files ~ "\.yml$">
  Order allow,deny
  Deny from all
</Files>
<Files ~ "\.xml$">
  Order allow,deny
  Deny from all
</Files>
<Files ~ "sitemap\.xml">
  Order allow,deny
  Allow from all
</Files>
<Files ~ "feed\.xml">
  Order allow,deny
  Allow from all
</Files>
<Files ~ "rss\.xml">
  Order allow,deny
  Allow from all
</Files>
#<Files ~ "\.php$">
#  Order allow,deny
#  Deny from all
#</Files>
<Files ~ "warmup\/*\.*">
  Order allow,deny
  Allow from all
</Files>
<Files ~ "index\.php">
  Order allow,deny
  Allow from all
</Files>

<IfModule mod_headers.c>
# cache images and flash content for one day
<FilesMatch ".(flv|gif|jpg|jpeg|png|ico|swf)$">
Header set Cache-Control "max-age=86400"
</FilesMatch>

# cache text, css, and javascript files for one day
<FilesMatch ".(js|css|pdf|txt)$">
Header set Cache-Control "max-age=86400"
</FilesMatch>
</IfModule>


AddType video/ogg .ogv
AddType video/mp4 .mp4
AddType video/webm .webm
