<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="./Tests/_bootstrap.php">
    <testsuites>
        <testsuite name="Known Basic Unit Tests">
            <directory>./Tests/</directory>
        </testsuite>
	<testsuite name="Plugins">
	    <directory>./IdnoPlugins/*/Tests/</directory>
    	</testsuite>
    </testsuites>
    <php>
        <ini name="display_errors" value="On" />
        <ini name="display_startup_errors" value="On" />
    </php>
</phpunit>