body {
    background: #fff;
    /*margin-top:64px;*/
    /*padding-top: 0;*/
    margin-bottom: 5em;
}

a {
    color: #666;
}

.idno-content {
    box-shadow: none;
    border: none;
}
li {
    line-height: 1.8em !important;
}
/*.entry-content .p-name a,*/
.idno-entry h2 {
    font-size: 1.8em;
    margin: 0; padding: 0;
}
.entry-content blockquote {
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 0.9em;
    color: #444;
}
.idno-statusupdates .entry-content p {
    font-size: 1.8em;
    margin: 0; padding: 0;
}
.navbar-inverse .navbar-inner {
    background-color: #111; /* background color will be black for all browsers */
    background-image: none;
    background-repeat: no-repeat;
    opacity: none;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
    color: #ffffff;
    text-shadow: none;
}

.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
    border-bottom-color: #ffffff;
    border-top-color: #ffffff;
}

blockquote {
    border-left: 5px solid #000000;
    padding: 0 0 0 15px;
}

.pager li > a, .pager li > span {
    background-color: #ffffff;
    border: 3px solid #000000;
    border-radius: 0;
    color: #000000;
    display: inline-block;
    font-size: 1.2em;
    padding: 8px 24px;
}

.pager li > a:hover, .pager li > a:focus {
	border: 3px solid #999999;
	color: #999999;
}

.button-bar {
    margin-left: 0;
    text-align: right;
}

.btn-primary {
    background-color: #000000;
    border-color: #000000;
}

.navbar .nav .dropdown-toggle .caret {
    margin-top: 11px;
}
