
    
/** Pagination **/
.page-admin-users .users-list {
    margin-bottom: 10px;
}

.page-admin-users .users-search  .pane {
    height: 60em;
}

/** Pagination object */
.users-pagination {
    
    clear: both;
    margin-top: 10px;

    .pager {
        margin: 0;
    }
    
    li.newer {
	
	span {
	    display:none;
	}
	
	a:after {
	    content: "Previous";
	}
    }
    
    li.older {
	
	span {
	    display:none;
	}
	
	a:after {
	    content: "Next"; 
	}
    }
}


.search-controls {
    padding-bottom: 15px;

    .btn {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
    }
}