
/* Shim to hide settings menu in content before it can be removed */
.settings-content ul.nav {
    display: none;
}

.settings-template .nav > .active > a,
.settings-template .navbar .nav > .active > a {
    background-color: #e7e7e7;
    color: #555;
}