

.idno-entry div.unfurled-url {
    margin-top: 30px;
}

/**
 Skinning the Unfurled object
 */
div.unfurled-url {
    margin-bottom: 10px;
    
    .basics {
	border: #ddd dotted 1px;
	padding: 15px;
	
	
	h2 {
	    font-size: 1.4em;
	    margin-top: 15px;
	}
	
	.byline {
	    text-transform: uppercase;
	}
	
	.image {
	    height: 350px;
	    
	    img {
		object-fit: cover;
		width: 100%;
		height: 100%;
	    }
	}
    }
}
