/*
 IMPORTANT:
 This file isn't loaded directly, for changes to show you must generate a minified
 version using Grunt
*/    

body {
    background-color: #fff;
    color: #888888;
    font-weight: 300 !important;
    font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

a {
    color: #678c70;
}

a:hover, a:focus {
	color: #8cbf99
}


/*li {
    line-height: 1.8em !important;
}*/

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

h2 {
    line-height: 1.3em;
}

.idno-body .p-name a {
    font-size: 1.3em;
    margin: 0; padding: 0;
    color: #333333;
}

.idno-posts h2.p-name {
    font-size: 1.8em;
    margin: 0; padding: 0;
    color: #333333;
}

.idno-posts h2.p-name a {
    font-size: 1.2em;
}

.idno-body .photo-title a,
.idno-posts h2.photo-title {
    font-size: 1.2em;
    margin: 0; padding: 0;
}

.idno-body .idno-bookmark a,
.idno-posts h2.idno-bookmark {
    font-size: 1.4em;
    margin: 0; padding: 0;
}

h1.p-profile, .p-profile a {
	margin: 0px;
	text-align: center;
	color: #333333;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-size: 1.6em;
}

.idno-body blockquote {
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 0.9em;
    color: #444;
}

blockquote {
    border-left: 5px solid #8cbf99;
    padding: 0 0 0 15px;
}

.idno-statusupdates .idno-body p {
    font-size: 1.4em;
    margin: 0; padding: 0;
}

.navbar-default {
    background-color: #8CBF99;
    background-image: none;
    border-bottom: 5px solid #678c70;
    border-color: #FFFFFF #FFFFFF #678c70;
}
 
.navbar-default .brand {
    color: #333333;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
	color:#70997a;
} 
.navbar-default .brand, .navbar-default .nav > li > a {
    color: #FFFFFF;
    text-shadow: none;
}

.navbar-default .brand:hover, .navbar-default .nav > li > a:hover, .navbar-default .brand:focus, .navbar-default .nav > li > a:focus {
    color: #70997a;
    text-shadow: none;
}
 
.navbar-inverse .nav > li > a:focus, .navbar-inverse .nav > li > a:hover {
    background-color: #8cbf99;
    color: #70997a;
    text-decoration: none;
}
 
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: #8cbf99;
    color: #70997a;
}

.navbar .brand {
	padding: 12px 20px;
}
 
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
    background-color: #333333;
    color: #FFFFFF;
    text-decoration: none;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
	background-image: linear-gradient(to bottom, #70997a, #70997a);
	background-repeat: repeat-x;
}

.dropdown-toggle:active, .open .dropdown-toggle {
    outline: 0 none;
}
 
.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
    border-bottom-color: #FFFFFF;
    border-top-color: #FFFFFF;
}

.navbar-inverse .nav li.dropdown > a:hover .caret, .navbar-inverse .nav li.dropdown > a:focus .caret {
    border-bottom-color: #70997a;
    border-top-color: #70997a;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle .caret, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle .caret, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle .caret {
    border-bottom-color: #70997a;
    border-top-color: #70997a;
}

 
.navbar-inverse .navbar-search .search-query {
    background-color: #FFFFFF;
    border-color: #8CBF99;
    color: #8CBF99;
}
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
	box-shadow: none;
	}
	
a.contentTypeButton {
	color: #333333;
    font-size: 0.8em;
    text-align: center;
}

a.contentTypeButton:hover {
    color: #666666;
    font-size: 0.8em;
    text-align: center;
}

span.contentTypeLogo {
    display: block;
    font-size: 30px;
    padding-bottom: 5px;
    padding-top: 15px;
    color: #4c93cb;
}

span.contentTypeLogo:hover {
	color: #73b2e3;
}

.idno-object .footer {
    border-top: 2px solid #8CBF99;
    clear: both;
    font-size: 0.85em;
    padding-top: 5px;
}

.idno-object {
    box-shadow: none;
    display: block;
    margin-top: 1em;
}
.idno-content {
    background-color: #fff;
    border: medium none;
    padding: 1.5em 1.5em 0;
}

.idno-content p {
    line-height: 1.3em !important;
}

.idno-object .idno-body blockquote p {
    font-size: 1.3em;
    line-height: 1.6em;
    margin-bottom: 1em;
}

.idno-object h2 {
    font-size: 1.8em;
/*    margin-bottom: 0.2em !important; */
}

h2 {
	font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	font-size: 28px;
	color: #555555;
}

h3 {
	font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	font-weight: lighter;
	color: #555555;
	font-size: 26px;
}

h4 {
	font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	font-weight: lighter;
	color: #555555;
	font-size: 24px;
}

h5 {
	font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	font-weight: lighter;
	color: #555555;
	font-size: 20px;
}

h3.register, h4.register {
	text-align: center;
}

h3.register {
	font-size: 38px;
	font-weight: normal;
	padding-top: 20px;
}

.idno-body .photo-title a, .idno-posts h2.photo-title {
	color: #333333;
	font-size: 1.2em;
}

.idno-body .idno-bookmark a, .idno-posts h2.idno-bookmark {
	color: #333333;
	font-size: 1.2em;
	font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
	margin: 0;
    padding: 0;
}

.idno-object .idno-body {
    font-size: 1.1em;
    line-height: 1.1em;
}

.idno-body p {
	font-size: 1.1em;
}

.idno-object .idno-body li {
	font-size: 1.1em;
}

#contentTypeButtonBar {
    padding: 1em;
    text-align: center;
    border-bottom: 3px solid #357ebd;
}

.navbar-inverse .nav-collapse .nav > li > a:hover, .navbar-inverse .nav-collapse .nav > li > a:focus, .navbar-inverse .nav-collapse .dropdown-menu a:hover, .navbar-inverse .nav-collapse .dropdown-menu a:focus {
	background-color: #8cbf99;
}


/*.navbar-inverse .nav-collapse .dropdown-menu a {
    color: #678c70;
}*/

/*.navbar-inverse .nav-collapse .nav > li > a, .navbar-inverse .nav-collapse .dropdown-menu a {
    color: #FFFFFF;
}*/


.navbar-inverse .nav-collapse .navbar-form, .navbar-inverse .nav-collapse .navbar-search {
    border-bottom-color: #678C70;
    border-top-color: #678C70;
}

.nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
    border-radius: 3px;
    font-weight: normal;
    padding: 9px 15px;
}

/* Buttons */

.btn-primary {
    background-color: #73B2E3;
    border-color: #73B2E3;
    box-shadow: 0 3px #357EBD;
    background-image: none;
    font-color: #FFFFFF;
    text-shadow: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: #4c93cb;
    border-color: #4c93cb;
    box-shadow: 0 3px #357EBD;
    background-image: none;
    font-color: #FFFFFF;
    text-shadow: none;
}

.btn-cancel {
    background-color: #dddddd;
    border-color: #dddddd;
    box-shadow: 0 3px #535353;
    background-image: none;
    font-color: #FFFFFF;
    text-shadow: none;
    margin: 10px;
}

.btn-cancel:hover, .btn-cancel:active, .btn-cancel:focus {
    background-color: #c5c5c5;
    border-color: #c5c5c5;
    box-shadow: 0 3px #535353;
    background-image: none;
    font-color: #FFFFFF;
    text-shadow: none;
}

.btn-signin {
    background-color: #73B2E3;
    border-color: #73B2E3;
    box-shadow: 0 3px #357EBD;
    background-image: none;
    font-color: #FFFFFF;
    text-shadow: none;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #FFFFFF;
}

.btn-signin:hover, .btn-signin:active, .btn-signin:focus {
    background-color: #4c93cb;
    border-color: #4c93cb;
    box-shadow: 0 3px #357EBD;
    background-image: none;
    font-color: #FFFFFF;
    text-shadow: none;
    color: #FFFFFF;
}

.btn-save {
    background-color: #73B2E3;
    border-color: #73B2E3;
    box-shadow: 0 3px #357EBD;
    background-image: none;
    font-color: #FFFFFF;
    text-shadow: none;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #FFFFFF;
}

.btn-save:hover, .btn-save:active, .btn-save:focus {
    background-color: #4c93cb;
    border-color: #4c93cb;
    box-shadow: 0 3px #357EBD;
    background-image: none;
    font-color: #FFFFFF;
    text-shadow: none;
    color: #FFFFFF;
}


.button-bar {
	text-align: right;
	margin-left: 0px;
}

.navbar-inverse .btn-navbar {
    background-color: #8CBF99;
    background-image: none;
    background-repeat: repeat-x;
    border-color: #70997A;
    color: #FFFFFF;
    text-shadow: none;
}

.navbar-inverse .btn-navbar:hover, .navbar-inverse .btn-navbar:focus, .navbar-inverse .btn-navbar:active, .navbar-inverse .btn-navbar.active, .navbar-inverse .btn-navbar.disabled, .navbar-inverse .btn-navbar[disabled] {
	background-color: #70997a;
	color: #FFFFFF;
}
@media (max-width: 979px) {
    .navbar-inverse .nav-collapse .nav > li > a, .navbar-inverse .nav-collapse .dropdown-menu a {
        color: #FFFFFF;
    }
}

.well {
	margin-top: 5px;
	background-color: #FFFFFF;
	border: none;
	box-shadow: none;
	padding: 0;
}

.text-center h2 {
    font-size: 36px;
    margin-bottom: 0.8em;
    font-weight: 400;
}

h3.text-center {
	color: #555555;
	font-size: 28px;
    font-weight: normal;
    padding-bottom: 20px;
}

.controls > a {
	color: #8cbf99;
}

.controls > a:hover {
	color: #70997a;
}

.hero-unit {
    background-color: #FFFFFF;
    padding: 30px;
}   

.control-label {
	color: #555555;
	font-size: 14px;
} 

.profile .icon-container .u-photo {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 5px solid #678c70;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(136, 153, 166, 0.15);
    height: 125px;
    width: 125px;
}

.icon-container {
    border: 2px solid #FFFFFF;
    border-radius: 0%;
    display: inline-block;
    overflow: hidden;
    border-radius: 100%;
}

.note {
	color: #999999;
}

.green-footer {
	width: 100%;
	background-color: #8CBF99;
	margin-top: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
}

.green-footer p {
	text-align: center;
	margin-top: 10px;
}

.green-small {
	color: #FFFFFF;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

.page-container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}
    
.green-footer, .push {
    height: 80px;
}

@media (max-width: 767px){
.green-footer {
	margin-left: -20px;
	margin-right: -20px;
	padding-left: 20px;
	padding-right: 20px;
}
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    background-color: #FFFFFF;
    border: 1px solid #E8E8E8;
    box-shadow: none;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}

.wordcount {
	text-align: right;
	margin-left: 0px;
	color: #AAAAAA;
    font-size: 1.0em;
}

.navbar .nav .dropdown-toggle .caret {
    margin-top: 10px;
}

.caret {
    border-left: 5px solid rgba(0, 0, 0, 0);
    border-right: 5px solid rgba(0, 0, 0, 0);
}

.idno-body .p-name a {
	font-size: 1.0em;
} 

.e-note {
	text-align: center;
}

.url-container {
	text-align: center;
}

.idno-body .h-geo a, .idno-posts h2.h-geo {
    color: #333333;
    font-size: 1.2em;
}

.vague {
	color: #666666;
    font-size: 14px;
}

/* for B3 */

.navbar-brand, .navbar-nav > li > a {
    text-shadow: none;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-nav > li > .nav > li > a {
    color: #fff;
    /*padding-bottom: 12px;
    padding-top: 12px;*/
}

.navbar .nav .dropdown-toggle .caret {
    margin-top: 0;
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:focus, 
.navbar-default .navbar-nav > .open > a:hover {
    background-color: transparent;
    color: #70997a;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .open > a {
    background-image: none;
    background-repeat: repeat-x;
    box-shadow: none;
}

.navbar-nav > li > .nav > li > a:hover, 
.navbar-nav > li > .nav > li > a:focus {
    color: #70997a;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: transparent;
    border: none;
}

.navbar-form .form-control.search-query {
    border-color: #8cbf99;
	color: #8cbf99;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.dropdown-menu {
    background-color: #8cbf99;
     margin: 5px 0 0;
}
.dropdown-menu > li > a {
    color: #fff;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
	color:#666;
}
.navbar-nav > li > .dropdown-menu {
    margin-top: 4px;
}
.namebadge .btn {
	border: 2px solid #678c70;
	padding: 5px 20px;
}
.namebadge .btn:hover, .namebadge .btn:focus {
	color: #8cbf99;
	border: 2px solid #8cbf99;
}
tr.pages {
    border-bottom: 1px solid #888;
}
.navbar-nav > li > .dropdown-menu, .navbar-right .dropdown-menu {
    margin-top: 10px;
}
