body {
    background-color: #fff;
    color: #333333;
    font-weight: 300 !important;
    font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

a {
    color: #9f111b;
}

a:hover, a:focus {
	color: #af474f;
}

.idno-object .permalink a {
    color: #9f111b;
    margin-right: 0.25em;
}

.idno-object .permalink a:hover {
	color: #af474f;
}

/*li {
    line-height: 1.8em !important;
}*/

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

h2 {
    line-height: 1.3em;
}

.idno-body .p-name a {
    font-size: 1.3em;
    margin: 0; padding: 0;
    color: #9f111b;
}

.idno-posts h2.p-name {
    font-size: 1.8em;
    margin: 0; padding: 0;
    color: #333333;
}

.idno-posts h2.p-name a {
    font-size: 1.2em;
}

.idno-body .photo-title a,
.idno-posts h2.photo-title {
    font-size: 1.2em;
    margin: 0; padding: 0;
}

.idno-body .p-bookmark a,
.idno-posts h2.p-bookmark {
    font-size: 1.4em;
    margin: 0; padding: 0;
}

h1.p-profile, .p-profile a {
	margin: 0px;
	font-family: "Myriad Pro","Gill Sans","Gill Sans MT",Calibri,sans-serif;
	color: #333333;
	font-size: 1.6em;
	text-align: center;
}

.idno-body blockquote {
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 0.9em;
    color: #444;
}

blockquote {
    border-left: 5px solid #ffcc66;
    padding: 0 0 0 15px;
}

.idno-statusupdates .idno-body p {
    font-size: 1.4em;
    margin: 0; padding: 0;
}

.navbar-default {
    background-color: #e8945d;
    background-image: none;
    border-bottom: 5px solid #9f111b;
    border-color: #FFFFFF #FFFFFF #9f111b;
}
 
.navbar-default .brand {
    color: #333333;
}
 
.navbar-default .brand, .navbar-default .nav > li > a {
    color: #FFFFFF;
    text-shadow: none;
}

.navbar-default .brand:hover, .navbar-default .nav > li > a:hover, .navbar-default .brand:focus, .navbar-default .nav > li > a:focus {
    color: #ffcc66;
    text-shadow: none;
}
 
.navbar-default .nav > li > a:focus, .navbar-default .nav > li > a:hover {
/*    background-color: #9f111b; */
    color: #ffcc66;
    text-decoration: none;
}
 
.navbar-default .nav li.dropdown.open > .dropdown-toggle, .navbar-default .nav li.dropdown.active > .dropdown-toggle, .navbar-default .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: #e8945d;
    color: #ffcc66;
}

.navbar .brand {
	padding: 12px 20px;
}
 
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
    background-color: #333333;
    color: #FFFFFF;
    text-decoration: none;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
	background-image: linear-gradient(to bottom, #9f111b, #9f111b);
	background-repeat: repeat-x;
}

.dropdown-toggle:active, .open .dropdown-toggle {
    outline: 0 none;
}
 
.navbar-default .nav li.dropdown > .dropdown-toggle .caret {
    border-bottom-color: #FFFFFF;
    border-top-color: #FFFFFF;
}

.navbar-default .nav li.dropdown > a:hover .caret, .navbar-default .nav li.dropdown > a:focus .caret {
    border-bottom-color: #ffcc66;
    border-top-color: #ffcc66;
}

.navbar-default .nav li.dropdown.open > .dropdown-toggle .caret, .navbar-default .nav li.dropdown.active > .dropdown-toggle .caret, .navbar-default .nav li.dropdown.open.active > .dropdown-toggle .caret {
    border-bottom-color: #ffcc66;
    border-top-color: #ffcc66;
}

 
.navbar-default .navbar-search .search-query {
    background-color: #FFFFFF;
    border-color: #e8945d;
    color: #9f111b;
}
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
	box-shadow: none;
	}
	
a.contentTypeButton {
	color: #535353;
    font-size: 0.8em;
    text-align: center;
}

a.contentTypeButton:hover {
    color: #c5c5c5;
    font-size: 0.8em;
    text-align: center;
}

span.contentTypeLogo {
    display: block;
    font-size: 30px;
    padding-bottom: 5px;
    padding-top: 15px;
    color: #9f111b;
}

span.contentTypeLogo:hover {
	color: #af474f;
}

.idno-object .footer {
    border-top: 2px solid #9f111b;
    clear: both;
    font-size: 0.85em;
    padding-top: 5px;
}

.idno-object {
    box-shadow: none;
    display: block;
    margin-top: 1em;
}

.idno-object a {
    color: #e8945d;
}

.idno-object a:hover, .idno-object a:focus {
	color: #ffb280;
}

.idno-object h1 a:hover, .idno-object h1 a:focus, 
.idno-object h2 a:hover, .idno-object h2 a:focus, 
.idno-object h3 a:hover, .idno-object h3 a:focus {
	color: #af474f;
	text-decoration: none;
}

.idno-content {
    background-color: #fff;
    border: medium none;
    padding: 1.5em 1.5em 0;
}

.idno-content p {
    line-height: 1.3em !important;
}

.idno-object .idno-body blockquote p {
    font-size: 1.3em;
    line-height: 1.6em;
    margin-bottom: 1em;
}

.idno-object h2 {
    font-size: 1.8em;
/*    margin-bottom: 0.2em !important; */
}

h2 {
	font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	font-size: 28px;
	color: #555555;
}

h3 {
	font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	font-weight: lighter;
	color: #555555;
	font-size: 26px;
}

h4 {
	font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	font-weight: lighter;
	color: #555555;
	font-size: 24px;
}

h5 {
	font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	font-weight: lighter;
	color: #555555;
	font-size: 20px;
}

h3.register, h4.register {
	text-align: center;
	color: #555555;
}

h3.register {
	font-size: 38px;
	font-weight: normal;
	padding-top: 20px;
}

.idno-body .photo-title a, .idno-posts h2.photo-title {
	color: #9f111b;
	font-size: 1.2em;
}

.idno-body .p-bookmark a, .idno-posts h2.p-bookmark {
	color: #9f111b;
	font-size: 1.2em;
	font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
	margin: 0;
    padding: 0;
}

.idno-object .idno-body {
    font-size: 1.1em;
    line-height: 1.1em;
}

.idno-body p {
	font-size: 1.3em;
}

#contentTypeButtonBar {
    padding: 1em;
    text-align: center;
    border-bottom: 3px solid #ffffff;
}

.navbar-default .nav-collapse .nav > li > a:hover, .navbar-default .nav-collapse .nav > li > a:focus, .navbar-default .nav-collapse .dropdown-menu a:hover, .navbar-default .nav-collapse .dropdown-menu a:focus {
	background-color: #e8945d;
}

.navbar-default .nav-collapse .navbar-form, .navbar-default .nav-collapse .navbar-search {
    border-bottom-color: #9f111b;
    border-top-color: #9f111b;
}

.nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
    border-radius: 3px;
    font-weight: normal;
    padding: 9px 15px;
}

/* Buttons */

.btn-primary {
    background-color: #e8945d;
    border-color: #e8945d;
    box-shadow: none;
    background-image: none;
    font-color: #ffffff;
    text-shadow: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: #ffb280;
    border-color: #ffb280;
    box-shadow: none;
    background-image: none;
    font-color: #ffffff;
    text-shadow: none;
}

.btn-cancel {
    background-color: #ffcc66;
    border-color: #ffcc66;
    box-shadow: none;
    background-image: none;
    font-color: #333333;
    text-shadow: none;
    margin: 10px;
}

.btn-cancel:hover, .btn-cancel:active, .btn-cancel:focus {
    background-color: #ffe5b2;
    border-color: #ffe5b2;
    box-shadow: none;
    background-image: none;
    font-color: #333333;
    text-shadow: none;
}

.btn-signin {
    background-color: #ffffff;
    border-color: #e8945d;
    box-shadow: none;
    background-image: none;
    text-shadow: none;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #e8945d;
}

.btn-signin:hover, .btn-signin:active, .btn-signin:focus {
    background-color: #ffffff;
    border-color: #ffcc66;
    box-shadow: none;
    background-image: none;
    text-shadow: none;
    color: #ffcc66;
}

.btn-save {
    background-color: #ffffff;
    border-color: #e8945d;
    border-width: 2px;
    border-style: solid;
    box-shadow: none;
    background-image: none;
    text-shadow: none;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #e8945d;
}

.btn-save:hover, .btn-save:active, .btn-save:focus {
    background-color: #ffcc66;
    border-color: #ffcc66;
    box-shadow: none;
    background-image: none;
    text-shadow: none;
    color: #FFFFFF;
}


.button-bar {
	text-align: right;
	margin-left: 0px;
}

.navbar-default .btn-navbar {
    background-color: #9f111b;
    background-image: none;
    background-repeat: repeat-x;
    border-color: #9f111b;
    color: #FFFFFF;
    text-shadow: none;
}

.navbar-default .btn-navbar:hover, .navbar-default .btn-navbar:focus, .navbar-default .btn-navbar:active, .navbar-default .btn-navbar.active, .navbar-default .btn-navbar.disabled, .navbar-default .btn-navbar[disabled] {
	background-color: #9f111b;
	color: #FFFFFF;
}
@media (max-width: 979px) {
    .navbar-default .nav-collapse .nav > li > a, .navbar-default .nav-collapse .dropdown-menu a {
        color: #FFFFFF;
    }
}

.well {
	margin-top: 5px;
	background-color: #FFFFFF;
	border: none;
	box-shadow: none;
	padding: 0;
}

.text-center h2 {
    font-size: 36px;
    margin-bottom: 0.8em;
    font-weight: 400;
    color: #555555;
}

h3.text-center {
	color: #555555;
	font-size: 28px;
    font-weight: normal;
    padding-bottom: 20px;
}

.controls > a {
	color: #9f111b;
}

.controls > a:hover {
	color: #9f111b;
}

.hero-unit {
    background-color: #FFFFFF;
    padding: 30px;
}   

.control-label {
	color: #555555;
	font-size: 14px;
} 

.profile .icon-container .u-photo {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 5px solid #e8945d;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(136, 153, 166, 0.15);
    height: 125px;
    width: 125px;
}

.icon-container {
    border: 2px solid #FFFFFF;
    border-radius: 0%;
    display: inline-block;
    overflow: hidden;
    border-radius: 100%;
}

.note {
	color: #999999;
}

.warm-footer {
	width: 100%;
	background-color: #ffffff;
	margin-top: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
}

.warm-footer p {
	text-align: center;
	margin-top: 10px;
}

.warm-small {
	color: #9f111b;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

.page-container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}
    
.green-footer, .push {
    height: 60px;
}

@media (max-width: 767px){
.green-footer {
	margin-left: -20px;
	margin-right: -20px;
	padding-left: 20px;
	padding-right: 20px;
}
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    background-color: #FFFFFF;
    border: 1px solid #E8E8E8;
    box-shadow: none;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}

.wordcount {
	text-align: right;
	margin-left: 0px;
	color: #AAAAAA;
    font-size: 1.0em;
}

.navbar .nav .dropdown-toggle .caret {
    margin-top: 10px;
}

.caret {
    border-left: 5px solid rgba(0, 0, 0, 0);
    border-right: 5px solid rgba(0, 0, 0, 0);
}

.idno-body .p-name a {
	font-size: 1.0em;
} 

.e-note {
	text-align: center;
}

.url-container {
	text-align: center;
}

.idno-body .h-geo a, .idno-posts h2.h-geo {
    color: #9f111b;
    font-size: 1.2em;
}

.vague {
	color: #666666;
    font-size: 14px;
}

.pager li > a, .pager li > span {
    background-color: #ffffff;
    border: 3px solid #e8945d;
    border-radius: 0;
    color: #e8945d;
    display: inline-block;
    font-size: 1.2em;
    padding: 8px 24px;
}

.pager li > a:hover, .pager li > a:focus {
	background-color: #ffffff;
    border: 3px solid #ffcc66;
    color: #ffcc66;
}

.hero-unit {
    border: 3px solid #9f111b;
}

.btn-reg {
    background-color: #ffffff;
    background-image: none;
    border: 2px solid #e8945d;
    box-shadow: none;
    color: #e8945d;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px 30px;
    text-shadow: none;
}

.btn-reg:hover, .btn-reg:active, .btn-reg:focus {
    background-color: #ffffff;
    background-image: none;
    border: 2px solid #ffcc66;
    box-shadow: none;
    color: #ffcc66;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px 30px;
    text-shadow: none;
}

/* For B3 */

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-brand, .navbar-nav > li > a {
    text-shadow: none;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-nav > li > .nav > li > a {
    color: #fff;
    /*padding-bottom: 12px;
    padding-top: 12px;*/
}

.navbar .nav .dropdown-toggle .caret {
    margin-top: 0;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    background-color: transparent;
    color: #ffcc66;
}

.navbar-nav > li > .nav > li > a:hover, 
.navbar-nav > li > .nav > li > a:focus {
    color: #ffcc66;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .open > a {
    background-image: none;
    background-repeat: repeat-x;
    box-shadow: none;
}

.red-small {
	color: #9f111b;
}
.navbar-nav > li > .dropdown-menu {
	margin-top:5px;
}
.dropdown-menu {
	margin-top: 6px;
    background-color: #e8945d;
    border: 1px solid #e8945d;
}
.navbar-form .form-control.search-query {
    border-color: #e8945d;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
	color: #ffcc66;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color:#9f111b;
	border-color:#9f111b;
}
.idno-body .p-name a:hover, .idno-body .p-name a:focus {
    color: #af474f;
}
.jumbotron {
    background-color: #fff;
    border: 3px solid #9f111b;
}
.navbar-nav > li > .dropdown-menu, .navbar-right .dropdown-menu {
    margin-top: 10px;
}

