/*
 IMPORTANT:
 This file isn't loaded directly. For changes to show you must generate a minified
 version. E.g.

    yui-compressor default.css > default.min.css
*/

body {
    background-color: #ffffff;
    background-size: cover;
    color: #222222;
}

blockquote {
    border-left: 5px solid #222;
}

.well {
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #fff;
    color: #000;
}

.well a {
    color: #222;
}

.idno-content {
    border: 0;
    box-shadow: none;
    font-size: 1.1em;
    background-color: rgba(255,255,255,1.0);
}

.idno-content .idno-body p,
.idno-content .idno-body li,
.idno-content .idno-body ol {
    font-family: 'Merriweather', serif;
    font-size: 19px;
    font-weight: 300;
    line-height: 1.6 !important;
}

.idno-content .idno-body p {
    margin: 0 0 26px;
}

.idno-content .idno-body blockquote {
    border: none;
    padding: 0;
    margin: 42px;
    font-style: italic;
    font-size: 26px;
    font-weight: 400;
}

.idno-content .idno-body ul, ol {
    margin: 21px;
}

.idno-object .dt-published {
    margin: 0;
}

.edit-pane {
    background-color: rgba(255,255,255,0.95);
    padding: 1.6em;
}

.idno-content h2 {
    font-family: 'Merriweather', serif;
    font-size: 46px;
    margin: 0 !important;
    padding: 0 !important;
    margin-bottom: 42px !important;
}

.idno-content .icon-container {
    width: 3em;
    height: 3em;
    margin-right: 0.6em;
    float: left;
}

.idno-content .footer {
    padding-bottom: 2em;
}

.break {
    clear: both !important;
}

.idno-content .author a.p-name {
    color: #aaa;
    display: block;
    font-size: 0.8em;
    font-weight: bold;
    line-height: 1em;
    padding-top: 1.4em;
    text-transform: uppercase;
}

.idno-content .author a.p-name:hover {
    text-decoration: none;
}

.idno-content .author {
    border: 0;
}

.idno-content .datestamp {
    font-size: 0.7em !important;
    font-weight: bold;
    text-transform: uppercase;
}

.idno-content .datestamp a, .idno-content .datestamp a:hover {
    color: #bbb !important;
}

.idno-content .vague {
    color: #bbb !important;
}

.idno-content h2 a {
    color: #222;
    font-weight: lighter;
}

.idno-content h2 a:hover {
    text-decoration: none;
}

a[rel=permalink]:hover {
    text-decoration: none;
}

.idno-content h3, h4 {
    font-size: 24px;
    margin-top: 1.6em;
    margin-bottom: 21px;
}

.idno-statusupdates .idno-body {
    font-size: 21px;
}

.idno-object a.edit {
    margin-left: 0 !important;
    margin-right: 1em;
    color: #888 !important;
}

.idno-object a.edit:hover {
    margin-right: 1em;
}

#contentTypeButtonBar {
    background-color: rgba(0,0,0,0.7);
    border-radius: 10px;
}

a.contentTypeButton {
    color: #fff;
}

a.contentTypeButton:hover {
    color: #ccc;
    border-radius: 1em;
    background: 0;
    text-shadow: none;
}

.profile {
    padding: 1.5em;
    font-weight: normal;
    color: #000;
    text-align: center;
    margin-bottom: 0.5em;
    background-color: #fff;
}

.profile .namebadge .icon-container {
    border: 5px #ccc solid;
}

.profile p {
    font-family: 'Merriweather', serif;
}

.profile a {
    color: #333;
}

.profile .btn {
    color: #333;
    background-color: #eee;
    font-family: Helvetica, Arial, sans-serif;
}

body.page-share {
    background-color: white;
    background-image: none;
}

.result-404, .result-403, .result-410, .result-500,
.page-begin-publish .page-container .page-body,
.idno_pages_user_edit .page-container .page-body, .page-pages .page-container .page-body,
.no-content, .generic-page, .page-directory .page-container .page-body,
.page-admin .page-container .page-body, .page-account .page-container .page-body {
    background-color:#ffffff;
    color: #333;
    /*border-radius: 15px; */
    padding-top: 25px;
    padding-bottom: 25px;
    box-sizing: border-box;
}

.theme {
    color: #222;
}

.idno-entities-user {
    color: #222;
}

.hero-unit {
    background: none;
    background-color: none;
    border: 0;
}

.idno-object a {
    color: #4c93cb;
}

.upload {
	margin-bottom: 5px;
	margin-left: 0px;
}
.dropdown-menu {
	border: none;
	margin: 0px;
}
.navbar-nav > li > .nav > li > a:hover, .navbar-nav > li > .nav > li > a:focus  {
	background-color: #fff;
	color:#999;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background-color: #fff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color:#999;
}
.idno-entry .p-author {
    text-align: left !important;
}

.navbar {
    border: none;
    background-color: #fafafa;
}

.navbar-fixed-top {
    position: absolute !important;
}

.navbar-brand {
    font-family: 'Merriweather', serif;
    font-size: 21px;
    font-weight: 800;
}
