# Apache config for version 2.4

<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule ^(\.well\-known.*)$ /index.php/$1 [L]
    RewriteRule ^\..* - [F]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond $1 !^(index\.php)
    RewriteRule ^(.*)$ /index.php/$1 [L]
    RewriteRule ^Uploads.* - [F]
</IfModule>
<IfModule mod_php5.c>
    php_value upload_max_filesize 1000M
    php_value post_max_size 1080M
</IfModule>
<Files  ~ "\.dist$">
  Require all denied
</Files>
<Files  ~ "\.ini$">
  Require all denied
</Files>
<Files ~ "\.xml$">
  Require all denied
</Files>
<Files ~ "sitemap.xml">
  Require all granted
</Files>

AddType video/ogg .ogv
AddType video/mp4 .mp4
AddType video/webm .webm
